<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

	<div th:replace="~{admin/fragments/header :: header}"></div>

	<link rel="stylesheet" th:href="@{/css/multiselect.css}">
	<link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
	<link rel="stylesheet" th:href="@{/css/richtext.min.css}">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="~{admin/fragments/navbar :: navbar}"></div>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container">

					<div class="row">
						<div class="col-2"></div>
						<div class="col">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Sửa thông tin tài khoản!</h1>
								</div>
								<div th:if="${#lists.size(addresses) == 0}" class="alert alert-primary">Không có địa chỉ
									nào</div>
							</div>
							<div th:if="${#lists.size(addresses) > 0}" class="row" th:each="address : ${addresses}">

								<!-- address preview-->
								<div class="post-preview col">
									<h2 class="font-weight-bold" style="font-size: 20px">Địa chỉ:
										[[${addressStat.index+1}]] <span th:if="${address.isPrimary == true}"> | Địa
											chỉ mặc định</span> </h2>
									<h3 class="post-subtitle" style="font-size: 15px">Địa chỉ:
										[[${address.getFullAddress()}]]</h3>
									<h3 class="post-subtitle d-inline" style="font-size:15px">Số điện thoại:
										[[${address.recievePhoneNumber}]]</h3>
									<a style="margin-left: 165px;"
										th:href="@{/admin/user/address-detail(id=${address.id},userId=${userId})}"><i
											class="fas fa-pencil-alt">&emsp;Chỉnh sửa</i></a>
									<hr class="my-3" />
								</div>


							</div>
							<!-- Divider-->

						</div>
						<div class="col-3"></div>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- End of Main Content -->

	<!-- Footer -->
	<footer class="sticky-footer bg-white">
		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>Copyright &copy; Your Website 2020</span>
			</div>
		</div>
	</footer>
	<!-- End of Footer -->

	</div>
	<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>


	<div th:replace="~{admin/fragments/footer :: footer}"></div>

	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery.richtext.min.js}"></script>


	<script>
		function showChangePassword() {
			var passForm = document.getElementById("PasswordForm");
			passForm.removeAttribute("hidden");


			var infoForm = document.getElementById("user-info");
			infoForm.setAttribute("hidden", true);
		}

		function back() {
			var passForm = document.getElementById("PasswordForm");
			passForm.setAttribute("hidden", true);


			var infoForm = document.getElementById("user-info");
			infoForm.removeAttribute("hidden");
		}
	</script>

</body>

</html>