<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

	<div th:replace="~{admin/fragments/header :: header}"></div>

	<link rel="stylesheet" th:href="@{/css/multiselect.css}">
	<link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
	<link rel="stylesheet" th:href="@{/css/richtext.min.css}">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="~{admin/fragments/navbar :: navbar}"></div>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container">

					<div class="row">
						<div class="col-2"></div>
						<div class="col">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Thêm tài khoản mới!</h1>
								</div>

								<form class="user" method="post" th:action="@{/admin/user/insert}" th:object="${user}"
									enctype="multipart/form-data">

									<div class="form-group row">
										<div class="col-sm-6">
											<input id="image-upload" type="file" th:field="*{file}"
												accept="image/png, image/jpeg" />
										</div>
									</div>

									<div class="form-group row">

										<div class="col-sm-6 mb-3 mb-sm-0">
											<input type="text" class="form-control" id="exampleFirstName"
												th:field="*{firstName}" placeholder="Tên" required
												oninvalid="this.setCustomValidity('Tên Không thể bỏ trống')"
												oninput="this.setCustomValidity('')">
											<div class="alert alert-warning mt-3 mb-3"
												th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
											</div>
											<div th:if="${authenErrors != null && authenErrors.containsKey('firstNameSpecial')}"
												class="alert alert-warning mt-3 mb-3"
												th:text="${authenErrors.get('firstNameSpecial')}">
											</div>
										</div>

										<div class="col-sm-6">
											<input type="text" class="form-control" id="exampleLastName"
												th:field="*{lastName}" placeholder="Họ" required
												oninvalid="this.setCustomValidity('Họ Không thể bỏ trống')"
												oninput="this.setCustomValidity('')">
											<div class="alert alert-warning mt-3 mb-3"
												th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
											<div th:if="${authenErrors != null && authenErrors.containsKey('lastNameSpecial')}"
												class="alert alert-warning mt-3 mb-3"
												th:text="${authenErrors.get('lastNameSpecial')}">
											</div>
										</div>
									</div>
									<div class="form-group mt-3">
										<input type="text" class="form-control" id="exampleInputUsername"
											th:field="*{username}" placeholder="Tên đăng nhập" required
											oninvalid="this.setCustomValidity('Tên đăng nhập Không thể bỏ trống')"
											oninput="this.setCustomValidity('')">
										<div class="alert alert-warning mt-3 mb-3"
											th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

										<div th:if="${authenErrors != null && authenErrors.containsKey('existByUsername')}"
											class="alert alert-warning mt-3 mb-3"
											th:text="${authenErrors.get('existByUsername')}">
										</div>
										<div th:if="${authenErrors != null && authenErrors.containsKey('usernameSpecial')}"
											class="alert alert-warning mt-3 mb-3"
											th:text="${authenErrors.get('usernameSpecial')}">
										</div>
									</div>

									<div class="row">
										<div class="datepicker form-group col-sm-6 mb-3 mb-sm-0">
											<h6 class="ml-3">Ngày sinh: </h6>
											<input placeholder="Select date" th:field="*{birthday}" type="date"
												id="birthday" class="form-control" required
												oninvalid="this.setCustomValidity('Ngày sinh Không thể bỏ trống')"
												oninput="this.setCustomValidity('')">
											<div class="alert alert-warning mt-3 mb-3"
												th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>
										</div>

										<div class="ml-4">
											<h6 class="mb-2 pb-1">Giới tính: </h6>

											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" th:field="*{gender}"
													id="maleGender" value="1" checked />
												<label class="form-check-label" for="maleGender">Nam</label>
											</div>

											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" th:field="*{gender}"
													id="maleGender" value="2" />
												<label class="form-check-label" for="maleGender">Nữ</label>
											</div>

											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" th:field="*{gender}"
													id="otherGender" value="0" />
												<label class="form-check-label" for="otherGender">Khác</label>
											</div>
											<div class="alert alert-warning mt-3 mb-3"
												th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
										</div>
									</div>

									<div class="row mt-3">
										<div class="form-group col-md-6 ">
											<input type="email" class="form-control" id="exampleInputEmail"
												th:field="*{email}" placeholder="Email" required
												oninvalid="this.setCustomValidity('Email Không thể bỏ trống')"
												oninput="this.setCustomValidity('')">
											<div class="alert alert-warning mt-3 mb-3"
												th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
											<div th:if="${authenErrors != null && authenErrors.containsKey('existByEmail')}"
												class="alert alert-warning mt-3 mb-3"
												th:text="${authenErrors.get('existByEmail')}">
											</div>
										</div>
										<div class="form-group col-md-6 ">
											<input type="text" class="form-control" id="phoneNumber"
												th:field="*{phoneNumber}" placeholder="Số điện thoại" required
												oninvalid="this.setCustomValidity('Số điện thoại Không thể bỏ trống')"
												oninput="this.setCustomValidity('')">
											<div class="alert alert-warning mt-3 mb-3"
												th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">
											</div>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-6">
											<label>Tỉnh/Thành phố</label>
											<input type="text" class="form-control" th:field="*{province}">
											<div class="alert alert-warning mt-3 mb-3"
												th:if="${#fields.hasErrors('province')}" th:errors="*{province}">
											</div>
											<div th:if="${formErrors!=null &&  formErrors.containsKey('provinceSpecial')}"
												class="alert alert-warning mt-3 mb-3"
												th:text="${formErrors.get('provinceSpecial')}">
											</div>
										</div>
										<div class="form-group col-md-6">
											<label>Quận/Huyện</label>
											<input type="text" class="form-control" th:field="*{district}">
											<div class="alert alert-warning mt-3 mb-3"
												th:if="${#fields.hasErrors('district')}" th:errors="*{district}">
											</div>
											<div th:if="${formErrors!=null && formErrors.containsKey('districtSpecial')}"
												class="alert alert-warning mt-3 mb-3"
												th:text="${formErrors.get('districtSpecial')}">
											</div>
										</div>
									</div> <!-- form-row.// -->


									<div class="form-row">
										<div class="form-group col-md-6">
											<label>Phường/Xã</label>
											<input type="text" class="form-control" th:field="*{subDistrict}">
											<div class="alert alert-warning mt-3 mb-3"
												th:if="${#fields.hasErrors('subDistrict')}" th:errors="*{subDistrict}">
											</div>
											<div th:if="${formErrors!=null && formErrors.containsKey('subDistrictSpecial')}"
												class="alert alert-warning mt-3 mb-3"
												th:text="${formErrors.get('subDistrictSpecial')}">
											</div>
										</div>
										<div class="form-group col-md-6">
											<label>Số nhà</label>
											<input type="text" class="form-control" th:field="*{street}">
											<div class="alert alert-warning mt-3 mb-3"
												th:if="${#fields.hasErrors('street')}" th:errors="*{street}">
											</div>
										</div>

										<div class="form-group col">
											<label>Địa chỉ cụ thể | Được thêm vào đầu dãy địa chỉ</label>
											<input type="text" class="form-control" th:field="*{fullAddress}">
											<div class="alert alert-warning mt-3 mb-3"
												th:if="${#fields.hasErrors('subDistrict')}" th:errors="*{fullAddress}">
											</div>
										</div>


									</div> <!-- form-row.// -->
									<div class="form-group row ">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<input type="password" class="form-control" th:field="*{password}"
												id="exampleInputPassword" placeholder="Mật khẩu">
											<div class="alert alert-warning mt-3 mb-3"
												th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
												required
												oninvalid="this.setCustomValidity('Mật khẩu Không thể bỏ trống')"
												oninput="this.setCustomValidity('')"></div>
										</div>
										<div class="col-sm-6">
											<input type="password" class="form-control" th:field="*{confirmPassword}"
												id="exampleRepeatPassword" placeholder="Nhập lại mật khẩu" required
												oninvalid="this.setCustomValidity('Mật khẩu nhập lại Không thể bỏ trống')"
												oninput="this.setCustomValidity('')">
											<div th:if="${authenErrors != null && authenErrors.containsKey('passwordNotMatch')}"
												class="alert alert-warning mt-3 mb-3"
												th:text="${authenErrors.get('passwordNotMatch')}">
											</div>
										</div>
									</div>
									<div class="row">

										<div class="col-3"></div>
										<button type="submit" class="btn btn-primary btn-user btn-block  col"
											style="width: 100px;">
											Tạo
										</button>
										<div class="col-1"></div>
										<a th:href="@{/admin/user}" class="btn btn-primary btn-user btn-block"
											style="width: 100px;">
											Trở về
										</a>


										<div class="col-3"></div>
									</div>
							</div>


							</form>
						</div>
						<div class="col-3"></div>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- End of Main Content -->

	<!-- Footer -->
	<footer class="sticky-footer bg-white">
		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>Copyright &copy; Your Website 2020</span>
			</div>
		</div>
	</footer>
	<!-- End of Footer -->

	</div>
	<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>


	<div th:replace="~{admin/fragments/footer :: footer}"></div>

	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery.richtext.min.js}"></script>


	<script>
		$('.content').richText();

		//@@@@
		document.addEventListener('click', function (e) {
			const app = document.querySelector('.app')
			e = e || window.event;
			var target = e.target || e.srcElement;
			console.log(target.classList[0], target.innerHTML + "s")
			if (target.innerHTML == "" || (app.innerHTML.includes(target.innerHTML) && app.innerHTML.includes("@@@@"))) {
				document.querySelector('#category').style.display = "block"
			}
			else {
				document.querySelector('#category').style.display = "none"
			}
		}, false);
	</script>


</body>

</html>