<!DOCTYPE html>
<html lang="vi"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <div th:replace="~{admin/fragments/header :: header}"></div>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:replace="~{admin/fragments/navbar :: navbar}"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                   

                    <!-- Content Row -->
                 

                    <!-- Content Row -->
                 <form th:action="@{/admin}" method="post" th:object="${aimForm}">

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Doanh số trong năm [[*{areaYear}]]</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" th:href="@{/#}" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Chọn năm</div>
                                            <div class="container">
                                            	<div class="row">
                                            		<div class="col-sm-8" style="margin-right: -10px;">
                                            			<input style="max-width: 100%; margin-top: 3px;" class="form-control" th:field="*{areaYear}">
                                            		</div>
                                            		<div class="col-sm-4" style="margin-right: 10px;">
                                            			<a th:href="@{/#}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="margin-top: 6px;">Xem</a>
                                            		</div>
                                            	</div>
                                            </div>                                      
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                                <input hidden id="areaData" th:value="${areaData}">
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Top sản phẩm bán chạy trong năm [[*{pie1Year}]]</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" th:href="@{/#}" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Chọn năm</div>
                                            <div class="container">
                                            	<div class="row">
                                            		<div class="col-sm-8" style="margin-right: -10px;">
                                            			<input style="max-width: 100%; margin-top: 3px;" class="form-control" th:field="*{pie1Year}">
                                            		</div>
                                            		<div class="col-sm-4" style="margin-right: 10px;">
                                            			<a th:href="@{/#}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="margin-top: 6px;">Xem</a>
                                            		</div>
                                            	</div>
                                            </div>                                      
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-danger"></i> Hạng 1
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-warning"></i> Hạng 2
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Hạng 3
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Còn lại
                                        </span>
                                    </div>
                                </div>
                                <input hidden id="pieData" th:value="${pie1Data}">
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-xl-8 col-lg-7">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Thống kê chỉ tiêu [[*{cardYear}]]</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" th:href="@{/#}" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Chọn năm</div>
                                            <div class="container">
                                            	<div class="row">
                                            		<div class="col-sm-8" style="margin-right: -10px;">
                                            			<input style="max-width: 100%; margin-top: 3px;" class="form-control" th:field="*{cardYear}">
                                            		</div>
                                            		<div class="col-sm-4" style="margin-right: 10px;">
                                            			<a th:href="@{/#}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="margin-top: 6px;">Xem</a>
                                            		</div>
                                            	</div>
                                            </div>                                      
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">Tổng doanh thu<span
                                            class="float-right" id="title-Tc1"></span></h4>
                                    <div class="progress mb-4">
                                        <div id="td1" class="progress-bar" role="progressbar" style="width: 20%"
                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Số đơn hàng <span
                                            class="float-right" id="title-Tc2"></span></h4>
                                    <div class="progress mb-4">
                                        <div id="td2" class="progress-bar" role="progressbar" style="width: 40%;"
                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Số khách hàng <span
                                            class="float-right" id="title-Tc3"></span></h4>
                                    <div class="progress mb-4">
                                        <div id="td3" class="progress-bar" role="progressbar" style="width: 60%;"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Đánh giá Sách<span
                                            class="float-right" id="title-Tc4"></span></h4>
                                    <div class="progress mb-4">
                                        <div id="td4" class="progress-bar" role="progressbar" style="width: 80%"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Sách bán ra <span
                                            class="float-right" id="title-Tc5"></span></h4>
                                    <div class="progress">
                                        <div id="td5" class="progress-bar" role="progressbar" style="width: 100%"
                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
	                                <div class="container" style="padding-bottom: 10px">
	                                    <div class="row">
	                                    	<div class="col-sm-2"  >
	                                    		<h4 class="small font-weight-bold">Tổng doanh thu</h4>
	                                    		<input style="max-width: 100%;" class="form-control" th:field="*{totalRevenue}">
	                                    	</div>
	                                    	<div class="col-sm-2" >
	                                    		<h4 class="small font-weight-bold">Số đơn hàng</h4>
	                                    		<input style="max-width: 100%;" class="form-control" th:field="*{numOrder}">
	                                    	</div>
	                                    	<div class="col-sm-2" >
	                                    		<h4 class="small font-weight-bold">Số khách hàng</h4>
	                                    		<input style="max-width: 100%;" class="form-control" th:field="*{numCustomer}">
	                                    	</div>
	                                    	<div class="col-sm-2" >
	                                    		<h4 class="small font-weight-bold">Đánh giá sách</h4>
	                                    		<input style="max-width: 100%;" class="form-control" th:field="*{avgProReview}">
	                                    	</div>
	                                    	<div class="col-sm-2" >
	                                    		<h4 class="small font-weight-bold">Sách bán ra</h4>
	                                    		<input style="max-width: 100%;" class="form-control" th:field="*{numProSold}">
	                                    	</div>
	                                    	<div class="col-sm-2" >
	                                    		<h4 class="small font-weight-bold">Chọn tiêu chí</h4>
	                                    		<button class="btn btn-primary" type="submit">Thống kê</button>
	                                    	</div>
	                                    </div>
	                                 </div>
                                 
                                 <input hidden id="cardData" th:value="${cardData}">
                            </div>
                        </div>

						<!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Top khách hàng chi tiêu trong năm [[*{pie2Year}]]</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" th:href="@{/#}" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Chọn năm</div>
                                            <div class="container">
                                            	<div class="row">
                                            		<div class="col-sm-8" style="margin-right: -10px;">
                                            			<input style="max-width: 100%; margin-top: 3px;" class="form-control" th:field="*{pie2Year}">
                                            		</div>
                                            		<div class="col-sm-4" style="margin-right: 10px;">
                                            			<a th:href="@{/#}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="margin-top: 6px;">Xem</a>
                                            		</div>
                                            	</div>
                                            </div>                                      
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart2"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-danger"></i> Hạng 1
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-warning"></i> Hạng 2
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Hạng 3
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Còn lại
                                        </span>
                                    </div>
                                </div>
                                <input hidden id="pieData2" th:value="${pie2Data}">
                            </div>
                        </div>
                    </div>
				</form>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

   

    <div th:replace="~{admin/fragments/footer :: footer}"></div>

</body>

</html>