<!DOCTYPE html>
<html lang="vi">

<head>
	<div th:replace="~{client/fragments/header :: header}"></div>
	<div>
		<title>Trang chủ</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="">
	</div>
</head>

<body>
	<div th:replace="~{client/fragments/main-top :: mainTop}"></div>


	<div class="d-flex align-items-center justify-content-center vh-100 mb-5 mt-5">
		<div class="text-center">
			<h1 class="display-1 fw-bold">403</h1>
			<p class="fs-3"> <span class="text-danger">Opps!</span> Xảy ra lỗi xác thực rồi.</p>
			<p class="lead">
			<p>[[${message}]]</p>
			</p>
			<a th:href="@{/}" class="btn btn-primary">Trang chủ</a>
			<a th:if="${isAccountVerify}"
				th:href="@{/auth/resend-register-token(token=${#httpServletRequest.getParameter('token')})}"
				class="btn btn-primary">Gửi lại mã xác nhận</a>
		</div>
	</div>
	<!-- Start Instagram Feed  -->
	<div class="instagram-box">
		<div th:replace="~{client/fragments/sub-footer :: subFooter}"></div>
	</div>
	<!-- End Instagram Feed  -->
	<footer>
		<div th:replace="~{client/fragments/footer :: footer}"></div>
	</footer>
</body>

</html>