<div th:fragment="mainTop">
	<!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    	<i class="fa fa-bars"></i>
                	</button>
                    <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/logo.png}" width="120" height="70" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li th:classappend = "${#httpServletRequest.requestURI=='/' ? 'active' : ''}" class="nav-item"><a class="nav-link" th:href="@{/}">TRANG CHỦ</a></li>
                        <li th:classappend = "${#httpServletRequest.requestURI.contains('/shop') ? 'active' : ''}" class="nav-item"><a class="nav-link" th:href="@{/shop/Tatca?page=1}">TẤT CẢ</a></li>
                        <li th:classappend = "${#httpServletRequest.requestURI.contains('/blog') ? 'active' : ''}" class="nav-item"><a class="nav-link" th:href="@{/blog}">BÀI VIẾT</a></li>
                        <li th:classappend = "${#httpServletRequest.requestURI.contains('/contact') ? 'active' : ''}" class="nav-item"><a class="nav-link" th:href="@{/contact}">LIÊN HỆ</a></li>
                        <li th:classappend = "${#httpServletRequest.requestURI.contains('/bookrequest') ? 'active' : ''}" class="nav-item"><a class="nav-link" th:href="@{/bookrequest}">YÊU CẦU SÁCH</a></li>
                        <li th:classappend = "${#httpServletRequest.requestURI.contains('/about') ? 'active' : ''}" class="nav-item"><a class="nav-link" th:href="@{/about}">THÔNG TIN</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav mr-3">
                    <ul>
                        
                        <li >
                            <a th:href="@{/member/cart}">
                                <i class="fa fa-shopping-bag"></i>
                                <span class="badge" style="color: red;" sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getCartItemNum()}"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
				<div class="attr-nav">
                    <ul>
                        <li class="nav-item" style="width: 150px;">
            				<div class="widget-header text-center">
            				
								<div sec:authorize="isAuthenticated()">
								   <div class="icontext w-100">
									<a th:href="@{/member/profile}" class="brand-wrap ">
										<img
										th:if="${#authentication.getPrincipal().getImage()!=null && #authentication.getPrincipal().getImage().getTitle!=null }"
										th:src="@{${'/images/users/'+ #authentication.getPrincipal().getImage().getTitle().toString()}}"
										class="img-xs icon rounded-circle d-block ml-auto mr-auto " 
										style="max-width:50%;"
		            					/>
		            					<img
										th:if="${#authentication.getPrincipal().getImage()!=null && #authentication.getPrincipal().getImage().getTitle==null }"
										th:src="@{${'/images/'+ #authentication.getPrincipal().getImage().getThumbnailName().toString()}}"
										class="img-xs icon rounded-circle d-block ml-auto mr-auto " 
										style="max-width:50%;"
		            					/>
		            					
									</a>
									<small  th:text="${#authentication.getPrincipal().getUsername()}"></small>
								   </div>
									<span  >
										<a th:href="@{/auth/logout}">Đăng xuất</a>
									</span>
								</div>
								
								<div sec:authorize="!isAuthenticated()">
									<small class="title text-muted">Xin chào</small>
									<div>
										<a th:href="@{/auth/login}">Đăng nhập</a> <span class="dark-transp"> | </span>
										<a th:href="@{/auth/register}">Đăng ký</a>
									</div>
								</div>
							</div>
                       	</li>
                    </ul>
                </div>
            </div>
          
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->
     <!-- Start Top Search -->
    
    <!-- End Top Search -->

</div>