<!DOCTYPE html>
<html lang="vi">

<head>
	<div th:replace="~{client/fragments/header :: header}"></div>
	<div>
		<title>Trang chủ</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="">
	</div>
</head>

<body>
	<div th:replace="~{client/fragments/main-top :: mainTop}"></div>

	<section class="section-conten padding-y bg mt-3">

		<div class="container">
			<div class="row">
				<aside class="col-md-3">
					<!--   SIDEBAR   -->
					<ul class="list-group">
						<a class="list-group-item" th:href="@{/member/profile}"> Thông tin cá nhân</a>
						<a class="list-group-item active" th:href="@{/member/address}"> Địa chỉ</a>
						<a class="list-group-item" th:href="@{/member/profile/order}"> Đơn hàng</a>
					</ul>
					<br>
					<a class="btn btn-light btn-block" th:href="@{/auth/logout}"> <i class="fa fa-power-off"></i> <span
							class="text">Đăng xuất</span> </a>
					<!--   SIDEBAR .//END   -->
				</aside>
				<main class="col-md-9 mt-2">
					<div class="row gx-4 gx-lg-5 justify-content-start">
						<div class="col-md-10 col-lg-8 col-xl-7" id="address-list">
							<div th:if="${#lists.size(addresses) == 0}" class="alert-primary">Không có địa chỉ nào</div>
							<div th:if="${#lists.size(addresses) > 0}" class="row" th:each="address : ${addresses}">


								<!-- address preview-->
								<div class="post-preview col">
									<h2 class="font-weight-bold" style="font-size: 20px">Địa chỉ:
										[[${addressStat.index+1}]] <span th:if="${address.isPrimary == true}"> | Địa chỉ mặc định</span> </h2> 
									<h3 class="post-subtitle" style="font-size: 15px">Địa chỉ:
										[[${address.getFullAddress()}]]</h3>
									<h3 class="post-subtitle d-inline" style="font-size:15px">Số điện thoại:
										[[${address.recievePhoneNumber}]]</h3>
									<a style="margin-left: 165px;" th:href="@{/member/address-detail(id=${address.id})}"><i
											class="fas fa-pencil-alt">&emsp;Chỉnh sửa</i></a>
									<hr class="my-3" />
								</div>


							</div>
							<!-- Divider-->


						</div>


					</div>
				</main>
			</div> <!-- row.// -->
		</div>


	</section>

	<!-- Start Instagram Feed  -->
	<div class="instagram-box">
		<div th:replace="~{client/fragments/sub-footer :: subFooter}"></div>
	</div>
	<!-- End Instagram Feed  -->
	<footer>
		<div th:replace="~{client/fragments/footer :: footer}"></div>
	</footer>

	<script >


	</script>

</body>

</html>