<!DOCTYPE html>
<html lang="vi">
	<head>
		<div th:replace="client/fragments/header :: header"></div>
	 	<div>
	 		<title>Trang chủ</title>
		    <meta name="keywords" content="">
		    <meta name="description" content="">
		    <meta name="author" content="">
	 	</div>
	</head>
 	<body>
		<div th:replace="client/fragments/main-top :: mainTop"></div>
		
			<p>[[${message}]]</p>
		
		    <!-- Start Instagram Feed  -->
		    <div class="instagram-box">
			  <div th:replace="client/fragments/sub-footer :: subFooter"></div>
		    </div>
		    <!-- End Instagram Feed  -->
		    <footer>
 				<div th:replace="client/fragments/footer :: footer"></div>
 			</footer>
 	</body>
</html>