<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
	<div th:replace="~{client/fragments/header :: header}"></div>
	<div>
		<title>Giỏ hàng</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="">
	</div>
</head>

<body>



	<div th:replace="~{client/fragments/main-top :: mainTop}"></div>

	<!-- Start All Title Box -->
	<div class="all-title-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Cart</h2>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Mua hàng</a></li>
						<li class="breadcrumb-item active">Giỏ hàng</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Title Box -->

	<!-- Start Cart  -->
	<div class="cart-box-main">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
				
					<div class="table-main table-responsive">
					<div th:if="${notChecked}" class="alert alert-warning mt-3 mb-3">
								Vui lòng chọn sản phẩm để tiến hành thanh toán
							</div>
					<div th:if="${notAvailable}" class="alert alert-warning mt-3 mb-3">
								Cuốn sách có tiêu đề "[[${notAvailable}]]" không còn bán nữa
							</div>
						<div th:if="${insufficient}" class="alert alert-warning mt-3 mb-3">
								Cuốn sách có tiêu đề "[[${insufficient}]]" trong kho chỉ còn lại [[${inventory}]] cuốn
							</div>	
						<table class="table">
							<thead>
								<tr>
									<th>Chọn</th>
									<th>Hình</th>
									<th>Tựa sách</th>
									<th>Giá</th>
									<th>Số lượng</th>
									<th>Tổng cộng</th>
									<th>Xóa</th>
								</tr>
							</thead>
							
							<form method="POST", th:action="@{/member/checkout}" th:object="${checkoutForm}" id="cart">
								<tbody >
									<tr th:each="cartItem : ${cartItems}">
										<td>
											<div class="form-check form-switch">
											  <input class="form-check-input item-cb" 
											  	th:value="${cartItem.id}" th:field="*{checkoutItems}"
											   type="checkbox" style="width: 30px; height: 30px;">
											</div>
										</td>
										<td class="thumbnail-img">
											<a href="#">
												<img th:if="${cartItem.book.image.title}"
													th:src="@{${'/uploads/books/'+cartItem.book.image.title}}"
													class="img-fluid" />
												<img th:if="${cartItem.book.image.thumbnailName!=null && cartItem.book.image.title == null }"
													th:src="@{${'/uploads/'+cartItem.book.image.thumbnailName}}"
													class="img-fluid" />
											</a>
										</td>
										<td class="name-pr">
											<a href="#">
												[[${cartItem.book.title}]]
											</a>
										</td>
										<td class="price-pr">
											<p>[[${cartItem.book.price}]] VNĐ</p>
										</td>
										<td class="quantity-box">
											<input type="number" size="4" th:value="${cartItem.quantity}" min="0" step="1" 
												oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
												onfocus="this.oldValue = this.value;"
												th:onchange="updatePrice([[${cartItem.id}]],[[${cartItem.book.price}]],this)"
												class="c-input-text qty text">
											<p></p>
										</td>
										<td th:id="'total-pr' + ${cartItem.id}">
											<p>[[${cartItem.getTotalPrice()}]] VNĐ</p>
										</td>
										<td class="remove-pr">
											<span class="btn" th:onclick="deleteCartItem([[${cartItem.id}]])">
												<i class="fas fa-times "></i>
											</span>
										</td>
									</tr>
	
								</tbody>
							</form>
						</table>
					</div>
				</div>
			</div>

			<div class="row my-5">
				<div class="col-lg-6 col-sm-6">
					
				</div>
				<div class="col-lg-6 col-sm-6">
					<div class="update-box">
						<a th:href="@{/shop/Tatca?page=1}">
							<input value="Mua thêm" type="submit">
						</a>
					</div>
				</div>
			</div>

			<div class="row my-5">
				<div class="col-lg-8 col-sm-12"></div>
				<div class="col-lg-4 col-sm-12">
					<div class="order-box">
						<h3>Chi tiết đơn hàng</h3>
						<div class="d-flex">
							<h4>Tổng tiền</h4>
							<div id="cart-price" class="ml-auto font-weight-bold"> [[${cart.getTotalPrice()}]]</div>
							<span class="font-weight-bold ml-1"> VNĐ </span>
						</div>
						<div class="d-flex">
							<h4>Giảm giá</h4>
							<div class="ml-auto font-weight-bold"> 0 VNĐ </div>
						</div>
						<div class="d-flex gr-total">
							<h5>Tiền phải trả</h5>
							<div id="must-pay" class="ml-auto h5"> [[${cart.getTotalPrice()}]]</div>
							<span class="font-weight-bold ml-1"> VNĐ </span>
						</div>
						<hr>
					</div>
				</div>
				<div class="col-12 d-flex shopping-box" title="Phải có ít nhất một sản phẩm để thanh toán">
					<a th:classappend="${cartItems.size()==0?'disabled':''}" 
						href="#" th:onclick = "return submitItem()" class="ml-auto btn hvr-hover">Đặt hàng</a>
					
				</div>
			</div>

		</div>
	</div>
	<!-- End Cart -->

	<!-- Start Instagram Feed  -->
	<div class="instagram-box">
		<div th:replace="~{client/fragments/sub-footer :: subFooter}"></div>
	</div>
	<!-- End Instagram Feed  -->


	<!-- Start Footer  -->
	<footer>
		<div th:replace="~{client/fragments/footer :: footer}"></div>
	</footer>
	<!-- End Footer  -->

	<script>
	
		function submitItem(){
			$('#cart').submit();
			return false;
		}
	
		function updatePrice(id, price, element) {
			var currItemNum = element.value;
			var oldItemNum = element.oldValue;
			document.getElementById('total-pr' + id).innerText = price * currItemNum + 'VNĐ';

			// Change total cart price
			var amountPriceChange = currItemNum * price - oldItemNum * price;
			var oldTotalPrice = parseInt(document.getElementById('cart-price').innerText);
			var newTotalPrice = oldTotalPrice + amountPriceChange;

			document.getElementById('cart-price').innerText = newTotalPrice;
			document.getElementById('must-pay').innerText = newTotalPrice;
			// set old is curr value
			element.oldValue = element.value;
			$.ajax({
				url: "/member/cart/update",
				type: "POST",
				data: {
					'itemId': id,
					'currItemNum': currItemNum
				}
			})

		}
		function deleteCartItem(itemId) {
			$.ajax({
				url: "/member/cart/delete",
				type: "DELETE",
				data: {
					'itemId': itemId
				},
				success: function () {
					location.reload();
					alert("Xóa thành công!");

				},
				error: function (e) {
					alert('Xóa thất bại!!, message: ' + e);
				}
			})
		}

	</script>


</body>

</html>