<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
	<div th:replace="~{admin/fragments/header :: header}"></div>
	<div th:replace="~{client/fragments/header :: header}"></div>
	<div>
		<title>Đăng nhập</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="">
	</div>
</head>

<body>
	<div th:replace="~{client/fragments/main-top :: mainTop}"></div>
	<!-- Start Main Top -->


	<!-- Start All Title Box -->
	<div class="all-title-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Checkout</h2>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Mua hàng</a></li>
						<li class="breadcrumb-item active">Thanh toán</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Title Box -->

	<!-- Start Cart  -->
	<div class="cart-box-main">
		<div class="container" th:object="${checkoutForm}">
			<div class="row">
				<div class="col-sm-6 col-lg-6 mb-3">
					<div class="checkout-address">
					
					
						<div class="title-left">
							<h3>Thông tin tài khoản</h3>
						</div>
						<div class="contact-info-left  mr-3 w-100 mb-5">
								<ul>	
									<li>
										<p><i class="fas fa-user-circle "></i>Tên đăng nhập: <a
												href="mailto:metisbook@gmail.com ">[[${checkoutForm.username}]]</a></p>
									</li>	
									<li>
										<p><i class="fas fa-user "></i>Họ tên: <a
												href="mailto:metisbook@gmail.com ">[[${checkoutForm.firstName}]] [[${checkoutForm.lastName}]]</a></p>
									</li>	
									<li>
										<p><i class="fas fa-phone-square "></i>Điện thoại: <a href="tel:+84 123456789">
												[[${checkoutForm.phoneNumber}]]</a></p>
									</li>
									<li>
										<p><i class="fas fa-envelope "></i>Email: <a
												href="mailto:metisbook@gmail.com ">[[${checkoutForm.email}]]</a></p>
									</li>
								</ul>
							</div>
					
						<div class="title-left pt-3">
							<h3>Địa chỉ giao hàng</h3>
						</div>
						<form class="needs-validation" th:action="@{/member/checkout/update}" method="post"
							id="checkout_form">
							<input hidden th:field="*{email}" />
							<div th:if="${lackInfo}" class="alert alert-warning mt-3 mb-3">
								Vui lòng cập nhật đầy đủ thông tin để tiến hành thanh toán
							</div>

							<div class="row">
						
								
							</div>
							<div class="mb-3" id="selectAddress" th:if="${addresses}">
								<label class="mt-3 mb-3">Địa chỉ giao hàng *</label>
								<select id="test" class="form-control" th:field="*{fullAddress}">
									<option th:if="${#lists.size(addresses) == 0}" value="-1">--Chọn địa chỉ--</option>
									<option th:value="${address.id}" th:each="address : ${addresses}">
										[[${address.recievePhoneNumber}]] | [[${address.fullAddress}]]</option>


								</select>
							</div>
							<div id="address-spec" class="pt-3" hidden>
								<div class="mb-3">
									<label class="mt-3 mb-3">Địa chỉ cụ thể *</label>
									<input type="text" class="form-control user-info" th:field="*{newAddress}"
										placeholder="" required
										oninvalid="this.setCustomValidity('Điạ chỉ Không thể bỏ trống')"
										oninput="this.setCustomValidity('')">
								</div>
								<div class="row">
									<div class="col-md-4 mb-3">
										<label class="mt-3 mb-3">Phường/xã *</label>
										<input type="text" class="form-control user-info" th:field="*{subDistrict}"
											disabled placeholder="" required
											oninvalid="this.setCustomValidity('Phường/xã Không thể bỏ trống')"
											oninput="this.setCustomValidity('')">
									</div>
									<div class="col-md-3 mb-3">
										<label class="mt-3 mb-3">Quận/huyện *</label>
										<input type="text" class="form-control user-info" th:field="*{district}"
											disabled placeholder="" required
											oninvalid="this.setCustomValidity('Quận/huyện Không thể bỏ trống')"
											oninput="this.setCustomValidity('')">
									</div>
									<div class="col-md-3 mb-3">
										<label class="mt-3 mb-3">Tỉnh *</label>
										<input type="text" class="form-control user-info" th:field="*{province}"
											disabled placeholder="" required
											oninvalid="this.setCustomValidity('Tỉnh Không thể bỏ trống')"
											oninput="this.setCustomValidity('')">
									</div>
									<div class="col-md-5 mb-3">
										<label class="mt-3 mb-3">Số nhà *</label>
										<input type="text" class="form-control user-info" th:field="*{street}" disabled
											placeholder="" required
											oninvalid="this.setCustomValidity('Số nhà Không thể bỏ trống')"
											oninput="this.setCustomValidity('')">
									</div>
									<div class="col-md-5 mb-3">
										<label class="mt-3 mb-3">Số điện thoại nhận hàng *</label>
										<input type="text" class="form-control user-info"
											th:field="*{recievePhoneNumber}" disabled placeholder="" required
											oninvalid="this.setCustomValidity('Số điện thoại nhận hàng Không thể bỏ trống')"
											oninput="this.setCustomValidity('')">
									</div>


								</div>
								<div class="form-check mt-3">
									<input class="form-check-input" type="checkbox" th:field="*{isPrimary}"
										id="flexCheckDefault">
									<label class="form-check-label" for="flexCheckDefault">
										Đặt làm địa chỉ mặc định
									</label>
								</div>
							</div>



							<hr class="mb-4">


							<div class="col-12 d-flex shopping-box">
								<a href="#" id="showEditBtn" th:onclick="return editForm();"
									class="ml-auto btn hvr-hover">Thêm
									địa chỉ giao hàng</a>
							</div>


							<div class="row" id="editBtn" hidden>
								<div class="col-7"></div>
								<div class="col d-flex shopping-box">
									<button onclick="back();" type="button" style="color:white"
										class="ml-auto btn hvr-hover">Trở về</a>
								</div>
								<div class="col d-flex shopping-box">
									<button type="submit" style="color:white" class="ml-auto btn hvr-hover">Cập
										nhật</button>
								</div>
							</div>


					</div>
				</div>

				<div class="col-sm-6 col-lg-6 mb-3">
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<div class="shipping-method-box">
								<div class="title-left">
									<h3>Phương thức giao hàng</h3>
								</div>
								<div class="mb-4">
									<div class="custom-control custom-radio">
										<input id="shippingOption1" name="shipping-option" class="custom-control-input"
											checked="checked" type="radio" th:field="*{deliverMethod}" value="Tiêu chuẩn"
											th:onclick="updateFee([[${Standard}]])">
										<label class="custom-control-label pl-4" for="shippingOption1">Tiêu chuẩn (3-7
											ngày)</label>
										<span class="float-right font-weight-bold">[[${Standard}]] VNĐ</span>
									</div>
									<div class="custom-control custom-radio">
										<input id="shippingOption2" name="shipping-option" th:field="*{deliverMethod}"
											value="Nhanh" class="custom-control-input" type="radio"
											th:onclick="updateFee([[${Fast}]])">
										<label class="custom-control-label pl-4" for="shippingOption2">Nhanh (2-4
											ngày)</label>
										<span class="float-right font-weight-bold">[[${Fast}]] VNĐ</span>
									</div>
									<div class="custom-control custom-radio">
										<input id="shippingOption3" name="shipping-option" class="custom-control-input"
											type="radio" th:field="*{deliverMethod}" value="Rất nhanh"
											th:onclick="updateFee([[${VeryFast}]])">
										<label class="custom-control-label pl-4" for="shippingOption3">Hỏa tốc (1
											ngày)</label>
										<span class="float-right font-weight-bold">[[${VeryFast}]] VNĐ</span>
									</div>
								</div>
							</div>
							<div class="title-left">
								<h3>Phương thức thanh toán</h3>
							</div>
							<div class="d-block my-3">
								<div class="custom-control custom-radio">
									<input id="credit" name="paymentMethod" th:field="*{paymentMethod}" value="Cash"
										type="radio" class="custom-control-input" checked required onclick="document.getElementById('momo-info').hidden = true">
									<label class="custom-control-label pl-4" for="credit"> Thanh toán khi nhận
										hàng</label>
								</div>

								<div class="custom-control custom-radio mt-3">
									<input id="debit" name="paymentMethod" type="radio" th:field="*{paymentMethod}"
										value="Momo" class=" custom-control-input " required onclick = "document.getElementById('momo-info').removeAttribute('hidden');">
									<label class="custom-control-label pl-4" for="debit"><img
											src="https://developers.momo.vn/v3/vi/img/logo.svg">Momo</img></label>
									<div class="contact-info-left mt-3" hidden id="momo-info">
									<ul>
										<li>
											<p>Số tài khoản: 0783511740</p>
										</li>
										<li>
											<p>Chủ tài khoản: Nguyễn Đức Khải</p>
										</li>
									</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="odr-box">
								<div class="title-left">
									<h3>Giỏ hàng</h3>
								</div>
								<div class="rounded p-2 bg-light">
									<input hidden th:field="*{checkoutItems}" />
									<div class="media mb-2 border-bottom row pb-3" th:each="cartItem: ${cartItems}">
										
										<div class="col-2">
											<a href="#">
												<img style="max-width:100%;" th:if="${cartItem.book.image.title}"
													th:src="@{${'/uploads/books/'+cartItem.book.image.title}}"
													class="img-fluid" />
												<img style="max-width:100%;"
													th:if="${cartItem.book.image.thumbnailName!=null && cartItem.book.image.title == null }"
													th:src="@{${'/uploads/'+cartItem.book.image.thumbnailName}}"
													class="img-fluid" />
											</a>
										</div>
										<div class="media-body col"> <a href="detail.html">
												[[${cartItem.book.title}]]</a>
											<div class="small text-muted">Giá: [[${cartItem.book.price}]] VNĐ <span
													class="mx-2">|</span> Số :
												[[${cartItem.quantity}]] <span class="mx-2">|</span> Tổng:
												[[${cartItem.getTotalPrice()}]] VNĐ</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="order-box">
								<div class="title-left">
									<h3>Đơn hàng</h3>
								</div>
								<div class="d-flex">
									<div class="font-weight-bold">Sách</div>
									<div class="ml-auto font-weight-bold">Tổng cộng</div>
								</div>
								<hr class="my-1">
								<div class="d-flex">
									<h4>Tổng số tiền</h4>
									<div class="ml-auto font-weight-bold">[[${cart.getTotalPrice()}]] VNĐ</div>
								</div>
								<div class="d-flex">
									<h4>Giảm giá</h4>
									<div class="ml-auto font-weight-bold"> 0 VNĐ </div>
								</div>
								<hr class="my-1">
								<div class="d-flex">
									<h4>Phí giao hàng</h4>
									<div id="deliverFee" class="ml-auto font-weight-bold"> [[${Standard}]] VNĐ </div>
									<input id="delivery_cost" hidden name="delivery_cost" th:value="${Standard}">
								</div>
								<hr>
								<div class="d-flex gr-total">
									<h5>Tiền phải trả</h5>
									<div id = "payFee" class="ml-auto h5"> [[${cart.getTotalPrice(checkoutForm.deliverMethod)}]] VNĐ</div>
								</div>
								<hr>
							</div>
						</div>
						<div class="col-12 d-flex shopping-box">
							<a href="#" th:onclick="return submitDiff();" class="ml-auto btn hvr-hover">Thanh toán</a>
						</div>
					</div>
				</div>
				</form>
			</div>

		</div>
	</div>
	<!-- End Cart -->

	<!-- Start Instagram Feed  -->
	<div class="instagram-box">
		<div th:replace="~{client/fragments/sub-footer :: subFooter}"></div>
	</div>
	<!-- End Instagram Feed  -->
	<footer>
		<div th:replace="~{client/fragments/footer :: footer}"></div>
	</footer>

	<script th:inline="javascript">

		function updateFee(fee){
			var totalPrice = /*[[${cart.getTotalPrice()}]]*/ "";
			var deliveFee = document.getElementById('deliverFee');
			deliveFee.innerText = fee + ' VNĐ';
			document.getElementById("delivery_cost").value = fee;
			var payFee = document.getElementById('payFee');
			payFee.innerText =parseInt(totalPrice) + parseInt(fee) +' VNĐ';
		}

		function editForm() {
			$('.user-info').prop("disabled", false);
			$('#editBtn').prop("hidden", false);
			$('#showEditBtn').prop("hidden", true);
			$('#address-spec').prop("hidden", false);
			$('#selectAddress').prop("hidden", true);
			return false;
		}

		function back() {
			$('.user-info').prop("disabled", true);
			$('#editBtn').prop("hidden", true);
			$('#showEditBtn').attr("hidden", false);
			$('#address-spec').prop("hidden", true);
			$('#selectAddress').prop("hidden", false);
		}

		function submitDiff() {
			var frm = document.getElementById("checkout_form");
			frm.action = "/member/checkout/pay";
			frm.submit(); //Submit action performed
			return false;


		}

	</script>

</body>

</html>