<!DOCTYPE html>
<html lang="vi">

<head>
	<div th:replace="~{client/fragments/header :: header}"></div>
	<div>
		<title>Trang chủ</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="">
	</div>

</head>

<body>
	<div th:replace="~{client/fragments/main-top :: mainTop}"></div>

	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block">
								<img class="img-fluid" th:src="@{/images/login-image.jpg}" />
							</div>

							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center mb-4">
										<h3><i class="fa fa-lock fa-4x"></i></h3>
										<h1 class="h4 mt-4 ">Quên mật khẩu?</h1>
										 <p>Nhập địa chỉ email bạn cần lấy lại mật khẩu.</p>
									</div>
									<div th:if="${errorMessage}" class="alert alert-danger text-center">
										<p> [[${errorMessage}]]</p>
									</div>
									<div th:if="${isSuccess}" class="alert alert-success text-center">
										<p> [[${isSuccess}]]</p>
									</div>
									<form method="post">
										<div class="form-group">
											<input type="email" class="form-control form-control-user"
												id="exampleInputEmail" placeholder="email" name="email"
												required
												oninvalid="this.setCustomValidity('Địa chỉ email không hợp lệ')"
												oninput="this.setCustomValidity('')">
										</div>

										<button type="submit" class="btn btn-primary btn-block">Đặt lại mật khẩu</button>
									</form>
									<hr>
									<div class="text-center">
										<a class="small" th:href="@{/auth/login}">Đăng nhập!</a>
									</div>
									<div class="text-center">
										<a class="small" th:href="@{/auth/register}">Đăng ký tài khoản mới!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>



	<!-- Start Instagram Feed  -->
	<div class="instagram-box">
		<div th:replace="~{client/fragments/sub-footer :: subFooter}"></div>
	</div>
	<!-- End Instagram Feed  -->
	<footer>
		<div th:replace="~{client/fragments/footer :: footer}"></div>
	</footer>
</body>

</html>