<!DOCTYPE html>
<html lang="vi">
	<head>
		<div th:replace="client/fragments/header :: header"></div>
	 	<div>
	 		<title>Trang chủ</title>
		    <meta name="keywords" content="">
		    <meta name="description" content="">
		    <meta name="author" content="">
	 	</div>
	</head>
 	<body>
		<div th:replace="client/fragments/main-top :: mainTop"></div>
		<!-- Start Slider -->
		    <div id="slides-shop" class="cover-slides">
		        <ul class="slides-container">
		            <li class="text-left">
		                <img th:src="@{/images/img2.jpg}" alt="">
		                <div class="container">
		                    <div class="row">
		                        <div class="col-md-12">
		                            <h1 class="m-b-20"><strong>Welcome To <br> Metis's Book</strong></h1>
		                            <p class="m-b-40">When it comes to searching for books, there is only one place to turn to – Metis's Book.</p>
		                            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
		                        </div>
		                    </div>
		                </div>
		            </li>
		            <li class="text-center">
		                <img th:src="@{/images/img3.jpg}" alt="">
		                <div class="container">
		                    <div class="row">
		                        <div class="col-md-12">
		                            <h1 class="m-b-20"><strong>Welcome To <br> Book Hub</strong></h1>
		                            <p class="m-b-40">When it comes to searching for books, there is only one place to turn to – Book Hub.</p>
		                            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
		                        </div>
		                    </div>
		                </div>
		            </li>
		            <li class="text-right">
		                <img th:src="@{/images/img1.webp}" alt="">
		                <div class="container">
		                    <div class="row">
		                        <div class="col-md-12">
		                            <h1 class="m-b-20"><strong>Welcome To <br> Book Hub</strong></h1>
		                            <p class="m-b-40">When it comes to searching for books, there is only one place to turn to – Book Hub.</p>
		                            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
		                        </div>
		                    </div>
		                </div>
		            </li>
		        </ul>
		        <div class="slides-navigation">
		            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
		            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		        </div>
		    </div>
		    <!-- End Slider -->
		
		    <!-- Start Categories  -->
		    <div class="categories-shop">
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" th:each="category:${categories}">
		                    <div class="shop-cat-box">
		                        <img class="img-fluid" th:src="@{/images/action and advencture.jpg}" width="352px" length="352px" alt="" />
		                        <a class="btn hvr-hover" href="#">[[${category.name}]]</a>
		                    </div>
		                </div>		            
		            </div>
		        </div>
		    </div>
		    <!-- End Categories -->
		
		    <!-- Start Products  -->
		    <div class="products-box">
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-12">
		                    <div class="title-all text-center">
		                        <h1>Featured Products</h1>
		                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
		                    </div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-lg-12">
		                    <div class="special-menu text-center">
		                        <div class="button-group filter-button-group">
		                            <button class="active" data-filter="*">All</button>
		                            <button data-filter=".top-featured">Top featured</button>
		                            <button data-filter=".best-seller">Best seller</button>
		                        </div>
		                    </div>
		                </div>
		            </div>
		
		            <div class="row special-list">
		                <div class="col-lg-3 col-md-6 special-grid best-seller" th:each="item:${bestSeller}">
		                    <div class="products-single fix">
		                        <div class="box-img-hover">
		                            <div class="type-lb">
		                                <p class="sale">Sale</p>
		                            </div>
		                            <img th:src="@{/images/Zero-To-One-by-Peter-Thiel-400x600.jpg}" class="img-fluid" alt="Image">
		                            <div class="mask-icon">
		                                <ul>
		                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
		                                </ul>
		                                <a class="cart" href="#">Add to Cart</a>
		                            </div>
		                        </div>
		                        <div class="why-text">
		                            <h3><b>[[${item.title}]]</b></h3>
		                            <h5><small>[[${item.price}]] VNĐ</small></h5>
		                        </div>
		                    </div>
		                </div>
		                
		                <div class="col-lg-3 col-md-6 special-grid top-featured" th:each="item:${topFeatured}">
		                    <div class="products-single fix">
		                        <div class="box-img-hover">
		                            <div class="type-lb">
		                                <p class="sale">Sale</p>
		                            </div>
		                            <img th:src="@{/images/Zero-To-One-by-Peter-Thiel-400x600.jpg}" class="img-fluid" alt="Image">
		                            <div class="mask-icon">
		                                <ul>
		                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
		                                </ul>
		                                <a class="cart" href="#">Add to Cart</a>
		                            </div>
		                        </div>
		                        <div class="why-text">
		                            <h3><b>[[${item.title}]]</b></h3>
		                            <h5><small>[[${item.price}]] VNĐ</small></h5>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <!-- End Products  -->
		
		    <!-- Start Blog  -->
		    <div class="latest-blog">
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-12">
		                    <div class="title-all text-center">
		                        <h1>Latest blog</h1>
		                        <p><strong>“A room without books is like a body without a soul.” – Cicero</strong></p>
		                    </div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-6 col-lg-4 col-xl-4">
		                    <div class="blog-box">
		                        <div class="blog-img">
		                            <img class="img-fluid" th:src="@{/images/bo.webp}" alt="" />
		                        </div>
		                        <div class="blog-content">
		                            <div class="title-blog">
		                                <h3>A Promised Land by Barack Obama</h3>
		                                <p>
		                                    A Promised Land’ is the first of two volumes of Barack Obama’s memoirs of his two-term presidency. Published in November last year, this part covers his path to becoming the Democrat candidate in 2008 and then rattles through the main challenges he faced
		                                    during the first two-and-a-half years of his presidency including the financial crisis, military operations in Afghanistan and Iraq, healthcare reform, climate change, the Deepwater Horizon oil spill, the Arab Spring
		                                    and the raid that killed Osama bin Laden
		                                </p>
		                            </div>
		                            <ul class="option-blog">
		                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
		                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-md-6 col-lg-4 col-xl-4">
		                    <div class="blog-box">
		                        <div class="blog-img">
		                            <img class="img-fluid" th:src="@{/images/three.jpeg}" alt="" />
		                        </div>
		                        <div class="blog-content">
		                            <div class="title-blog">
		                                <h3>Three Books By Indie Publishers</h3>
		                                <p>
		                                    The last ten months or so have been very tough for the publishing industry in general, and particularly challenging for small indie presses who have still succeeded in bringing brilliant new books in to the world during a pandemic no less. One of those
		                                    is Exit Management by Naomi Booth which was published by Dead Ink Books last summer. Originally from the north of England, Lauren works at a City firm as a graduate HR executive and specialises in “exit management”,
		                                    otherwise known as firing people in less corporate terms.
		                                </p>
		                            </div>
		                            <ul class="option-blog">
		                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
		                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
		                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comments"><i class="far fa-comments"></i></a></li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-md-6 col-lg-4 col-xl-4">
		                    <div class="blog-box">
		                        <div class="blog-img">
		                            <img class="img-fluid" th:src="@{/images/ro.webp}" alt="" />
		                        </div>
		                        <div class="blog-content">
		                            <div class="title-blog">
		                                <h3>Rodham by Curtis Sittenfeld</h3>
		                                <p>
		                                    I really enjoyed American Wife by Curtis Sittenfeld which is a thinly disguised account of the life of Laura Bush, wife of George W. Bush and former First Lady of the United States. I also enjoyed Sittenfeld’s short story ‘The Nominee’ which is included
		                                    in the UK edition of You Think It, I’ll Say It and is told from the perspective of Hillary Rodham Clinton a few months before the 2016 US presidential election.
		                                </p>
		
		                            </div>
		                            <ul class="option-blog">
		                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
		                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
		                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comments"><i class="far fa-comments"></i></a></li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <!-- End Blog  -->
		
		
		    <!-- Start Instagram Feed  -->
		    <div class="instagram-box">
			  <div th:replace="client/fragments/sub-footer :: subFooter"></div>
		    </div>
		    <!-- End Instagram Feed  -->
		    <footer>
 				<div th:replace="client/fragments/footer :: footer"></div>
 			</footer>
 	</body>
</html>