<!DOCTYPE html>
<html lang="en">

<head>
	<div th:replace="~{admin/fragments/header :: header}"></div>
	<div th:replace="~{client/fragments/header :: header}"></div>
	 	<div>
	 		<title>Đăng nhập</title>
		    <meta name="keywords" content="">
		    <meta name="description" content="">
		    <meta name="author" content="">
	 	</div>
</head>

<body>
	<div th:replace="~{client/fragments/main-top :: mainTop}"></div>
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block">
                            	<img class="img-fluid" th:src="@{/images/login-image.jpg}"/>
                            </div>
                            
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Chào mừng bạn trở lại!</h1>
                                    </div>
                                     <div th:if="${errorMessage}" class="alert alert-danger text-center">
									    <p > [[${errorMessage}]]</p>
									</div>
                                    <form class="user" method="post" th:action="@{/auth/login}">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Nhập email..." name = "email" required 
                                                oninvalid="this.setCustomValidity('Email Không thể bỏ trống')"
                                                oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Mật khẩu" name = "password" required 
                                                oninvalid="this.setCustomValidity('Mật khẩu Không thể bỏ trống')"
                                                oninput="this.setCustomValidity('')">
                                        </div>
                                       <div class="form-group pl-2" >
	                                         <div class="checkbox " >
											    <label for="checkid" >
											    	<input class="align-middle"  id="checkid"
											    	 type="checkbox" name="remember-me"> Nhớ mật khẩu
											    </label>
											 </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Đăng nhập
                                        </button>
                                        <hr>
                                        <a th:href="@{/oauth2/authorization/google}" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Đăng nhập với Google
                                        </a>
                                        <a th:href="@{/oauth2/authorization/facebook}" class="btn btn-facebook btn-user btn-block">
                                            <i class="#"></i> Đăng nhập với Facebook
                                        </a>
                                       
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" th:href="@{/auth/forgot-password}">Quên mật khẩu?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" th:href="@{/auth/register}">Đăng ký tài khoản mới!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
	<footer>
		<div th:replace="~{client/fragments/footer :: footer}"></div>
		<!-- Bootstrap core JavaScript-->
	    <script src="vendor/jquery/jquery.min.js"></script>
	    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	    <!-- Core plugin JavaScript-->
	    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	
	    <!-- Custom scripts for all pages-->
	    <script src="js/sb-admin-2.min.js"></script>
	</footer>


</body>

</html>