<!DOCTYPE html>
<html lang="en">

<head>

	<div th:replace="~{admin/fragments/header :: header}"></div>
	<div th:replace="~{client/fragments/header :: header}"></div>
	<div>
		<title>Đăng ký</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="">
	</div>

</head>

<body>
	<div th:replace="~{client/fragments/main-top :: mainTop}"></div>
	<div class="container-fluid mt-3 mb-3">


		
		<section class="h-100 gradient-custom">
			<div class="container-fluid py-5 h-100">
				
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-lg-10 col-xl-8">
						<div class="card" style="border-radius: 10px;">
						
							<div class="card-header px-4 py-5">

								<h5 class="text-muted mb-0">Cảm ơn vì đã đặt hàng,&emsp; <span
										style="color: #a8729a;" th:text="${#authentication.getPrincipal().getUsername()}"></span>!</h5>
								<th:block th:if="${order.paymentMethod =='Momo' && order.orderTrack.status == 'Chờ thanh toán'}">
								
								<p>Vui lòng chuyển số tiền bên dưới vào tài khoản momo sau:</p>
								<div class="contact-info-left mt-3" id="momo-info">
									<ul>
										<li>
											<p>Số tài khoản: 0783511740</p>
										</li>
										<li>
											<p>Chủ tài khoản: Nguyễn Đức Khải</p>
										</li>
									</ul>
									</div></th:block>
								
							</div>
							<div class="card-body p-4">
								<div class="d-flex justify-content-between align-items-center mb-4">
									<p class="lead fw-normal mb-0" style="color: #a8729a;">Đơn hàng</p>
								</div>
								<div class="card shadow-0 border mb-4">
									<div class="card-body">
										<div class="row">
											<table class="table">
												<thead>
													<tr>
														<th width="5%">Hình</th>
														<th width="20%">Tựa sách</th>
														<th width="10%">Giá</th>
														<th width="10%">Số lượng</th>
														<th width="10%">Tổng cộng</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="orderItem : ${order.orderItems}">
														<td class="thumbnail-img">
															<a href="#">
																<img th:if="${orderItem.book.image.title}"
																	th:src="@{${'/uploads/books/'+orderItem.book.image.title}}"
																	class="img-fluid" />
																<img th:if="${orderItem.book.image.thumbnailName!=null && orderItem.book.image.title == null }"
																	th:src="@{${'/uploads/'+orderItem.book.image.thumbnailName}}"
																	class="img-fluid" />
															</a>
														</td>
														<td class="name-pr">
															<div style="height:70px; width:400px;overflow:auto;">
																[[${orderItem.book.title}]]
															</div>
														</td>
														<td class="price-pr">
															<p>[[${orderItem.book.price}]] VNĐ</p>
														</td>
														<td class="quantity-box">
															<p>[[${orderItem.quantity}]]</p>
														</td>
														<td>
															<p>[[${orderItem.getTotalPrice()}]] VNĐ</p>
														</td>
													</tr>

												</tbody>
											</table>
										</div>
										<hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
										<div class="d-flex flex-row justify-content-between align-items-center align-content-center">
										
											<span th:if="${!order.orderTrack.status.equals('Chờ thanh toán')}" class="dot"></span>
											<span th:if="${order.orderTrack.status.equals('Chờ thanh toán')}" class="d-flex justify-content-center 
												align-items-center big-dot dot">
												</span>
											<hr class="flex-fill track-line">
											
											<span th:if="${!order.orderTrack.status.equals('Đang chuẩn bị')}" class="dot"></span>
											<span th:if="${order.orderTrack.status.equals('Đang chuẩn bị')}" class="d-flex justify-content-center 
												align-items-center big-dot dot">
													<i class="fa fa-check text-white"></i>
												</span>
											<hr class="flex-fill track-line">
											
											<span th:if="${!order.orderTrack.status.equals('Đang giao')}" class="dot"></span>
											<span th:if="${order.orderTrack.status.equals('Đang giao')}" class="d-flex justify-content-center 
												align-items-center big-dot dot">
													<i class="fa fa-check text-white"></i>
												</span>
											<hr class="flex-fill track-line">
											
											<span th:if="${!order.orderTrack.status.equals('Đã giao')}" class="dot"></span>
											<span th:if="${order.orderTrack.status.equals('Đã giao')}" class="d-flex justify-content-center 
												align-items-center big-dot dot">
													<i class="fa fa-check text-white"></i>
												</span>
										</div>

										<div class="d-flex flex-row justify-content-between align-items-center">
										<div class="d-flex flex-column align-items-start">
												<span>Chờ thanh toán</span>
											</div>
											<div class="d-flex flex-column align-items-start">
												<span>Đang chuẩn bị</span>
											</div>
											<div class="d-flex flex-column justify-content-center"><span>Đang
													giao</span></div>
											<div class="d-flex flex-column justify-content-center align-items-center">
												<span>Đã giao</span>
											</div>
										</div>
									</div>
								</div>

								<div class="d-flex justify-content-between pt-2">
									<p class="fw-bold mb-0">Chi tiết đơn hàng</p>
									<p class="text-muted mb-0"><span class="fw-bold me-4">Phí giao hàng:</span> [[${order.deliverCost}]] VNĐ
									</p>
									
								</div>

								<div class="d-flex justify-content-between">
									<p class="text-muted mb-0">Mã đơn hàng : [[${order.id}]]</p>
									<p class="text-muted mb-0"><span class="fw-bold me-4">Giảm giá:</span> 0 VNĐ</p>
								</div>

								<div class="d-flex justify-content-between">
									<p class="text-muted mb-0">Ngày đặt hàng : [[${order.orderDate}]]</p>
									<p class="text-muted mb-0"><span class="fw-bold me-4">VAT:</span> [[${order.costVAT}]] VNĐ</p>
								</div>

								<div class="d-flex justify-content-between mb-5">
									<p class="text-muted mb-0"><span class="fw-bold me-4">Tổng</span>
										[[${order.getTotalPrice()}]] VNĐ</p>
								</div>
								<div class="shopping-box">
								 	<a th:href="@{/}" class="ml-auto btn hvr-hover ">Trang chủ</a>
								 </div>
							</div>
							<div class="card-footer border-0 px-4 py-5"
								style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
								<h5
									class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">
									Tiền phải trả:&emsp;&emsp; <span class="h2 mb-0 ms-2">[[${order.getTotalPrice()}]]
										VNĐ</span></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Bootstrap core JavaScript-->

	</div>

	<footer>
		<div th:replace="~{client/fragments/footer :: footer}"></div>
	</footer>

	<style>
		.track-line {
			height: 2px !important;
			background-color: #488978;
			opacity: 1;
		}

		.dot {
			height: 10px;
			width: 10px;
			margin-left: 3px;
			margin-right: 3px;
			margin-top: 0px;
			background-color: #488978;
			border-radius: 50%;
			display: inline-block
		}

		.big-dot {
			height: 25px;
			width: 25px;
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 0px;
			background-color: #488978;
			border-radius: 50%;
			display: inline-block;
		}

		.big-dot i {
			font-size: 12px;
		}

		.card-stepper {
			z-index: 0
		}
	</style>
</body>

</html>