<!DOCTYPE html>
<html lang="vi">

<head>
	<div th:replace="~{client/fragments/header :: header}"></div>
	<div>
		<title>Trang chủ</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="">
	</div>
</head>

<body>
	<div th:replace="~{client/fragments/main-top :: mainTop}"></div>

	<section class="section-conten padding-y bg mt-3">

		<div class="container">
			<div class="row">
				<aside class="col-md-3">
					<!--   SIDEBAR   -->
					<ul class="list-group">
						<a class="list-group-item active" th:href="@{/member/profile}"> Thông tin cá nhân</a>
						<a class="list-group-item" th:href="@{/member/address}"> Địa chỉ</a>
						<a class="list-group-item" th:href="@{/member/profile/order}"> Đơn hàng</a>
					</ul>
					<br>
					<a class="btn btn-light btn-block" th:href="@{/auth/logout}"> <i class="fa fa-power-off"></i> <span
							class="text">Đăng xuất</span> </a>
					<!--   SIDEBAR .//END   -->
				</aside>
				<main class="col-md-9">
					<article class="card">
						<header class="card-header" id="header_user">
							<strong class="d-inline-block mr-3 ">Tên đăng nhập: [[${profile.username}]] </strong>
						</header>
						<div class="card-body">
							<div class="row">
								<div class="col-md-4">
									<div class="icontext w-100 text-center">
										<img th:if ="${profile.imageName}" th:src="@{${'/uploads/users/'+profile.imageName}}"
											class="img-xs icon d-block ml-auto mr-auto mb-4" style="max-width:50%;"
											id="avatar" />
										<img th:if ="${profile.thumbnailName!=null && profile.imageName == null }" th:src="@{${'/uploads/'+profile.thumbnailName}}"
										class="img-xs icon d-block ml-auto mr-auto mb-4" style="max-width:50%;"
										id="avatar" />
										<label><strong>[[${profile.firstName}]] [[${profile.lastName}]]</strong></label>

										<form id= "imageForm" method="post" enctype="multipart/form-data" th:action="@{/member/profile/upload-image}">
											<label for="image-upload" class="btn btn-outline-primary">
												Đổi ảnh đại diện
											</label>
											<input hidden id="image-upload" class="form-control" type="file"
												accept="image/png, image/jpeg" name="image" onchange="document.getElementById('imageForm').submit();"/>
										</form>

										<form method="post" th:action="@{/auth/forgot-password}">
											<button class="btn btn-outline-primary m2-3 ml-auto mr-auto ">
												<i class="fas fa-lock mr-2"></i> Đổi mật khẩu </button>
											<input hidden name="email" th:value="${profile.email}" />
										</form>




									</div>

								</div>
								<div class="col-md-8">
									<h6 class="text-muted">Thông tin</h6>
									<p>Email: [[${profile.email}]] </p>
									<form method="post" th:object="${profile}" id="profile_form">

										<input hidden type="text" th:field="*{email}" />
										<input hidden th:if="${profile.imageName}" th:field="*{imageName}" type="text" th:value="${profile.imageName}"/>
										<input hidden th:if="${profile.thumbnailName}" th:field="*{thumbnailName}" type="text" th:value="${profile.thumbnailName}"/>
										<div id="isError" hidden th:if="${#fields.hasErrors('*')}" value="true"></div>
										<div class="form-row">
											<div class="form-group col-md-6">
												<label>Tên</label>
												<input type="text" class="form-control" disabled
													th:field="*{firstName}" required
                                            	oninvalid="this.setCustomValidity('Tên Không thể bỏ trống')"
                                                oninput="this.setCustomValidity('')">
												<div class="alert alert-warning mt-3 mb-3"
													th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
												</div>
												<div th:if="${formErrors!=null && formErrors.containsKey('firstNameSpecial')}"
													class="alert alert-warning mt-3 mb-3"
													th:text="${formErrors.get('firstNameSpecial')}">
												</div>
											</div>
											<div class="form-group col-md-6">
												<label>Họ</label>
												<input type="text" class="form-control" disabled th:field="*{lastName}" required
                                            	oninvalid="this.setCustomValidity('Họ Không thể bỏ trống')"
                                                oninput="this.setCustomValidity('')">
												<div class="alert alert-warning mt-3 mb-3"
													th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
												</div>
												<div th:if="${formErrors!=null && formErrors.containsKey('lastNameSpecial')}"
													class="alert alert-warning mt-3 mb-3"
													th:text="${formErrors.get('lastNameSpecial')}">
												</div>
											</div>
										</div> <!-- form-row.// -->

										<div class="form-row">
											<div class="form-group col-md-6">
												<label>Số điện thoại</label>
												<input type="text" class="form-control" disabled
													th:field="*{phoneNumber}" required
                                            	oninvalid="this.setCustomValidity('Số điện thoại Không thể bỏ trống')"
                                                oninput="this.setCustomValidity('')">
												<div class="alert alert-warning mt-3 mb-3"
													th:if="${#fields.hasErrors('phoneNumber')}"
													th:errors="*{phoneNumber}"></div>

											</div>
											<div class="form-group col-md-6">
												<label>Ngày sinh</label>
												<input type="date" class="form-control" disabled th:field="*{birthday}">
											</div>
										</div> <!-- form-row.// -->


										<div class="form-row">
											<div class="form-group col-md-6">
												<label>Tỉnh/Thành phố</label>
												<input type="text" class="form-control" disabled th:field="*{province}" required
                                            	oninvalid="this.setCustomValidity('Tỉnh/Thành phố Không thể bỏ trống')"
                                                oninput="this.setCustomValidity('')">
												<div class="alert alert-warning mt-3 mb-3"
													th:if="${#fields.hasErrors('province')}" th:errors="*{province}">
												</div>
												<div th:if="${formErrors!=null &&  formErrors.containsKey('provinceSpecial')}"
													class="alert alert-warning mt-3 mb-3"
													th:text="${formErrors.get('provinceSpecial')}">
												</div>
											</div>
											<div class="form-group col-md-6">
												<label>Quận/Huyện</label>
												<input type="text" class="form-control" disabled th:field="*{district}" required
                                            	oninvalid="this.setCustomValidity('Quận/Huyện Không thể bỏ trống')"
                                                oninput="this.setCustomValidity('')">
												<div class="alert alert-warning mt-3 mb-3"
													th:if="${#fields.hasErrors('district')}" th:errors="*{district}">
												</div>
												<div th:if="${formErrors!=null && formErrors.containsKey('districtSpecial')}"
													class="alert alert-warning mt-3 mb-3"
													th:text="${formErrors.get('districtSpecial')}">
												</div>
											</div>
										</div> <!-- form-row.// -->


										<div class="form-row">
											<div class="form-group col-md-6">
												<label>Phường/Xã</label>
												<input type="text" class="form-control" disabled
													th:field="*{subDistrict}" required
                                            	oninvalid="this.setCustomValidity('Phường xã Không thể bỏ trống')"
                                                oninput="this.setCustomValidity('')">
												<div class="alert alert-warning mt-3 mb-3"
													th:if="${#fields.hasErrors('subDistrict')}"
													th:errors="*{subDistrict}"></div>
												<div th:if="${formErrors!=null && formErrors.containsKey('subDistrictSpecial')}"
													class="alert alert-warning mt-3 mb-3"
													th:text="${formErrors.get('subDistrictSpecial')}">
												</div>
											</div>
											<div class="form-group col-md-6">
												<label>Số nhà</label>
												<input type="text" class="form-control" disabled th:field="*{street}"
												required
                                            	oninvalid="this.setCustomValidity('Số nhà Không thể bỏ trống')"
                                                oninput="this.setCustomValidity('')">
												<div class="alert alert-warning mt-3 mb-3"
													th:if="${#fields.hasErrors('street')}" th:errors="*{street}">
												</div>
											</div>
										</div> <!-- form-row.// -->
										<div class="form-row">
											<div class="form-group col-md-6">
												<label>Giới tính</label>

												<div >
													<label class="custom-control custom-radio custom-control-inline">
														<input class="custom-control-input" disabled
															type="radio" th:field="*{gender}" value="1">
														<span class="custom-control-label"> Nam </span>
													</label>
													<label class="custom-control custom-radio custom-control-inline">
														<input class="custom-control-input" disabled type="radio"
															th:field="*{gender}" value="2">
														<span class="custom-control-label"> Nữ </span>
													</label>
													<label class="custom-control custom-radio custom-control-inline">
														<input class="custom-control-input" disabled type="radio"
															th:field="*{gender}" value="0">
														<span class="custom-control-label"> Khác </span>
													</label>
													<div class="alert alert-warning mt-3 mb-3"
														th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">
													</div>
												</div>

											</div>
											<div class="col-md-6">
												<button id="profileChange" type="button" onclick="enableInput()"
													class="btn btn-outline-primary">Chỉnh Sửa</button>
													
												<div id="profileSave" hidden>
													<button  type="button" onclick="back()"
													class="btn btn-outline-primary">Trở về</button>
													<button  type="submit"
													class="btn btn-outline-primary">Lưu</button>
													
												</div>
												
											</div>



										</div> <!-- form-row.// -->


									</form>
								</div>
							</div> <!-- row.// -->
						</div> <!-- card-body .// -->
						<header class="card-header" id="header_bill">
							<strong class="d-inline-block mr-3 ">Đơn hàng gần đây</strong>
						</header><br>
						<th:block th:if="${#lists.isEmpty(orders)}">
							<strong class="mr-auto ml-auto mb-3">Không có đơn hàng nào gần đây</strong>
						</th:block>
						<div class="table-responsive">
						
						<th:block th:if="${orders}">
							<table class="table table-hover" th:each="order : ${orders}">
								<b class="ml-3"> <i class="fas fa-bell mr-2"></i> Đơn hàng [[${orderStat.index+1}]]:</b>
								<div class="text-center" >
									<label id="date_label" ><strong>[[${#dates.format(order.orderDate, 'dd-MM-yyyy | hh:mm:ss')}]] </strong></label>
									<p id="total_label"><strong>Tổng cộng: </strong>[[${order.getTotalPrice()}]] VNĐ</p>
								</div>
								
								<tr th:each="orderItem : ${order.orderItems}">
									<td width="100">
									<img th:if ="${orderItem.book.image.title}" th:src="@{${'/uploads/books/'+orderItem.book.image.title}}" class="border img-fluid" />
									<img th:if ="${orderItem.book.image.thumbnailName!=null && orderItem.book.image.title == null }" th:src="@{${'/uploads/'+orderItem.book.image.thumbnailName}}"
										class="border img-fluid"/>
									</td>
									<td>
										<p class="title mb-0">[[${orderItem.book.title}]]</p>
										<small class="title text-muted">Giá: [[${orderItem.book.price}]] VNĐ</small><br>
										<p class="price text-muted">Tổng: [[${orderItem.getTotalPrice()}]] VNĐ</p>
									</td>
									<td width="200" style="word-wrap:break-word;">Số lượng: [[${orderItem.quantity}]] 
									<br>
									Tác Giả: 
									<th:block th:each="author : ${orderItem.book.authors}">
										[[${author.name}]] <span th:if="${authorStat.index < orderItem.book.authors.size()-1}">, <br></span>
									</th:block>
									
									<br>Nhà xuất bản: [[${orderItem.book.publisherName}]]
									</td>
									<td width="200"><a th:href="@{/member/order-detail(orderId=${order.id})}"
											class="btn btn-outline-primary">Chi tiết</a></td>
								</tr>
								
									
								
								
							
							</table>
							
						</th:block>
							
						</div> <!-- table-responsive .end// -->
					</article> <!-- order-group.// -->
				</main>
			</div> <!-- row.// -->
		</div>


	</section>

	<!-- Start Instagram Feed  -->
	<div class="instagram-box">
		<div th:replace="~{client/fragments/sub-footer :: subFooter}"></div>
	</div>
	<!-- End Instagram Feed  -->
	<footer>
		<div th:replace="~{client/fragments/footer :: footer}"></div>
	</footer>

	<script>

		var error = document.getElementById("isError").getAttribute("value");
		if (error === "true") {
			enableInput();
		}

		function enableInput() {
			var element = document.getElementsByTagName("input");
			for (var i = 0; i < element.length; i++) {
				element[i].disabled = false;
			}
			var buttonChange = document.getElementById("profileChange");
			buttonChange.style.display = 'none';

			var buttonSave = document.getElementById("profileSave");
			buttonSave.removeAttribute("hidden");
		}
		
		function back(){
			
			var element = document.getElementsByTagName("input");
			for (var i = 0; i < element.length; i++) {
				element[i].disabled = true;
			}
			var buttonSave = document.getElementById("profileSave");
			buttonSave.setAttribute("hidden", true);
			
			var buttonChange = document.getElementById("profileChange");
			buttonChange.style.display = 'block';
		}

	</script>

</body>

</html>