<!DOCTYPE html>
<html lang="en">

<head>

    <div th:replace="~{admin/fragments/header :: header}"></div>
	<div th:replace="~{client/fragments/header :: header}"></div>
	 	<div>
	 		<title>Đăng ký</title>
		    <meta name="keywords" content="">
		    <meta name="description" content="">
		    <meta name="author" content="">
	 	</div>

</head>

<body>
	<div th:replace="~{client/fragments/main-top :: mainTop}"></div>
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block ">
                   	 <img class="img-fluid" th:src="@{/images/register-image.jpg}"/>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-3">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Đăng ký tài khoản!</h1>
                            </div>
                            
                            <form class="user" method="post" th:action="@{/auth/register-process}" th:object="${registerRequest}">
                                <div class="form-group row">
                                
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"th:field= "*{firstName}" placeholder="Tên" 
                                        		required
                                        		oninvalid="this.setCustomValidity('Tên Không thể bỏ trống')"
                                                oninput="this.setCustomValidity('')">
                                        <div class="alert alert-warning mt-3 mb-3" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                                   		<div th:if="${authenErrors != null && authenErrors.containsKey('firstNameSpecial')}" 
							       		 class="alert alert-warning mt-3 mb-3" th:text="${authenErrors.get('firstNameSpecial')}">
							        	</div>
                                    </div>
                                	
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                            th:field = "*{lastName}" placeholder="Họ" 
                                           		required
                                            	oninvalid="this.setCustomValidity('Họ Không thể bỏ trống')"
                                                oninput="this.setCustomValidity('')">
                                         <div class="alert alert-warning mt-3 mb-3" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                                    	<div th:if="${authenErrors != null && authenErrors.containsKey('lastNameSpecial')}" 
							       		 class="alert alert-warning mt-3 mb-3" th:text="${authenErrors.get('lastNameSpecial')}">
							        	</div>
                                    </div>
                                </div>
                                 <div class="form-group mt-3">
                                    <input type="text" class="form-control form-control-user" id="exampleInputUsername"
                                        th:field = "*{username}" placeholder="Tên đăng nhập" 
                                         		required
                                        		oninvalid="this.setCustomValidity('Tên đăng nhập Không thể bỏ trống')"
                                                oninput="this.setCustomValidity('')">
	                            	<div class="alert alert-warning mt-3 mb-3" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

							        <div th:if="${authenErrors != null && authenErrors.containsKey('existByUsername')}" 
							       		 class="alert alert-warning mt-3 mb-3" th:text="${authenErrors.get('existByUsername')}">
							        </div>
							        <div th:if="${authenErrors != null && authenErrors.containsKey('usernameSpecial')}" 
							       		 class="alert alert-warning mt-3 mb-3" th:text="${authenErrors.get('usernameSpecial')}">
							        </div>
	                              </div>
	                              
                                <div class="row">
		                            <div class="datepicker form-group col-sm-6 mb-3 mb-sm-0">
								   		<h6 class="ml-3">Ngày sinh: </h6>
										<input placeholder="Select date" th:field = "*{birthday}" type="date" id="birthday" 
										class="form-control form-control-user">
										<div class="alert alert-warning mt-3 mb-3" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>
									</div>
	                               
	                                <div class="ml-4">
					                  <h6 class="mb-2 pb-1">Giới tính: </h6>
					
					                  <div class="form-check form-check-inline">
					                    <input class="form-check-input" type="radio" th:field="*{gender}" id="maleGender"
					                      value="1" checked />
					                    <label class="form-check-label" for="maleGender">Nam</label>
					                  </div>
					
					                  <div class="form-check form-check-inline">
					                    <input class="form-check-input" type="radio" th:field="*{gender}" id="maleGender"
					                      value="2" />
					                    <label class="form-check-label" for="maleGender">Nữ</label>
					                  </div>
					
					                  <div class="form-check form-check-inline">
					                    <input class="form-check-input" type="radio" th:field="*{gender}" id="otherGender"
					                      value="0" />
					                    <label class="form-check-label" for="otherGender">Khác</label>
					                  </div>
									  <div class="alert alert-warning mt-3 mb-3" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
					                </div>
                                </div>
                                
                                <div class="row mt-3">
                                 <div class="form-group col-md-6 ">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        th:field="*{email}" placeholder="Email" 
                                        		required
                                        		oninvalid="this.setCustomValidity('Email Không thể bỏ trống')"
                                                oninput="this.setCustomValidity('')">
                                    <div class="alert alert-warning mt-3 mb-3" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
	                            	 <div th:if="${authenErrors != null && authenErrors.containsKey('existByEmail')}" 
								       		 class="alert alert-warning mt-3 mb-3" th:text="${authenErrors.get('existByEmail')}">
								     </div>
	                             </div>
	                            <div class="form-group col-md-6 ">
                                    <input type="text" class="form-control form-control-user" id="phoneNumber"
                                        th:field= "*{phoneNumber}" placeholder="Số điện thoại"
                                        		required 
                                        		oninvalid="this.setCustomValidity('Số điện thoại Không thể bỏ trống')"
                                                oninput="this.setCustomValidity('')">
	                             	<div class="alert alert-warning mt-3 mb-3" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
	                             </div>
                                </div>
							   
                                <div class="form-group row ">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                          th:field= "*{password}"  id="exampleInputPassword" placeholder="Mật khẩu">
                                    	<div class="alert alert-warning mt-3 mb-3" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" 
                                    			required
                                    			oninvalid="this.setCustomValidity('Mật khẩu Không thể bỏ trống')"
                                                oninput="this.setCustomValidity('')"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            th:field = "*{confirmPassword}" id="exampleRepeatPassword" placeholder="Nhập lại mật khẩu" 
                                            required
                                            oninvalid="this.setCustomValidity('Mật khẩu nhập lại Không thể bỏ trống')"
                                            oninput="this.setCustomValidity('')">
                                    	<div th:if="${authenErrors != null && authenErrors.containsKey('passwordNotMatch')}" 
							       			 class="alert alert-warning mt-3 mb-3" th:text="${authenErrors.get('passwordNotMatch')}">
							        	</div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block mt-3">
                                    Đăng ký
                                </button>
                                <hr>
                                <a th:href="@{/oauth2/authorization/google}" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Đăng ký với Google
                                </a>
                                <a th:href="@{/oauth2/authorization/facebook}" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Đăng ký với Facebook
                                </a >
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" th:href="@{/auth/forgot-password}">Quên mật khẩu?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" th:href="@{/auth/login}">Đã có tài khoản? Đăng nhập!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
	<footer>
		<div th:replace="~{client/fragments/footer :: footer}"></div>
		<script src="vendor/jquery/jquery.min.js"></script>
	    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	    <!-- Core plugin JavaScript-->
	    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	
	    <!-- Custom scripts for all pages-->
	    <script src="js/sb-admin-2.min.js"></script>
	</footer>
    <!-- Bootstrap core JavaScript-->
    

</body>

</html>