<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
	<div th:replace="~{client/fragments/header :: header}"></div>
	<div>
		<title>Chi tiết sách</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="">
	</div>
</head>

<body>
	<div th:replace="~{client/fragments/main-top :: mainTop}"></div>


	<!-- Start All Title Box -->
	<div class="all-title-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Chi tiết sách</h2>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Tất cả</a></li>
						<li class="breadcrumb-item active">Chi tiết sách </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Title Box -->

	<!-- Start Shop Detail  -->
	<div class="shop-detail-box-main">
		<div class="container">
			<div th:if="${insufficient}" class="alert alert-warning mt-3 mb-3 row">
				Không thể mua vượt quá số lượng trong kho
			</div>
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-5 d-flex justify-content-end">

					<img th:if="${book.ImageName}" th:src="@{${'/uploads/books/'+book.ImageName}}"
						class="d-block w-75 img-fluid" />
					<img th:if="${book.thumbnailName!=null && book.imageName == null }"
						th:src="@{${'/uploads/'+book.thumbnailName}}" class="d-block w-75 img-fluid" />
				</div>
				<div class="col-xl-8 col-lg-8 col-md-7">
					<div class="single-product-details">
						<h2>[[${book.title}]]</h2>
						<h5>[[${book.price}]] VNĐ</h5>
						<p class="available-stock"><span> Còn [[${book.quantity}]] cuốn / <a href="#">Đã bán [[${sold}]]
									cuốn </a></span>
						<p>
						<h4>Mô tả sách</h4>
						<p style=" word-wrap: break-word; width: 800px;">[[${book.description}]]</p>

						<form class="row" method="post" th:action="@{/member/cart/add}">
							<div class="form-group quantity-box col-3">
								<label class="control-label">Số lượng</label>
								<input name="quantity" id="book-quantity" class="form-control" value="1" min="1"
									th:max="${book.quantity}" type="number">
							</div>
							<input hidden th:value="${book.id}" name="bookId">
							<div class="price-box-bar" style="margin-top:35px">
								<div class="cart-and-bay-btn">
									<button type="submit" style="color:white" class="ml-auto btn hvr-hover"
										data-fancybox-close="">
										Thêm vào giỏ hàng</button>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- Start COMMENT SECTION -->
			<section class="gradient-custom">
				<div class="container my-5 py-5">
					<div class="row d-flex justify-content-center">
						<div class="col-10">
							<div sec:authorize="!isAuthenticated()" class="alert-warning mb-5">
								Vui lòng đăng nhập để đánh giá
							</div>
							<div th:if="${error}" class="alert-danger mb-5">
								Bạn không đủ quyền để xóa
							</div>
							<div class="card">
								<div class="row d-flex justify-content-start">

									<div sec:authorize="isAuthenticated()" class="col">


										<div class="d-flex w-100 card-body" th:if = "${isComment.equals('true') || #authorization.expression('hasRole(''ADMIN'')')}">
						
											<img th:if="${#authentication.getPrincipal().getImage()!=null && #authentication.getPrincipal().getImage().getTitle!=null }"
												th:src="@{${'/uploads/users/'+ #authentication.getPrincipal().getImage().getTitle().toString()}}"
												class="rounded-circle shadow-1-strong me-3 mr-4" width="65"
												height="65" />
											<img th:if="${#authentication.getPrincipal().getImage()!=null && #authentication.getPrincipal().getImage().getTitle==null }"
												th:src="@{${'/uploads/'+ #authentication.getPrincipal().getImage().getThumbnailName().toString()}}"
												class="rounded-circle shadow-1-strong me-3 mr-4" width="65"
												height="65" />
											<form method="post" th:object="${feedback}" th:action="@{/feedback}"
												class="w-100">
												<div class="w-100">
													<input hidden name="bookId" th:value="${book.id}" />
													<h5>Đánh giá</h5>
													<div class="rating d-flex mb-3">
														<input th:field="*{rating}" type="radio" value="5" id="5"><label
															for="5">☆</label>
														<input type="radio" th:field="*{rating}" value="4" id="4"><label
															for="4">☆</label>
														<input type="radio" th:field="*{rating}" value="3" id="3"><label
															for="3">☆</label>
														<input type="radio" th:field="*{rating}" value="2" id="2"><label
															for="2">☆</label>
														<input type="radio" th:field="*{rating}" value="1" id="1"><label
															for="1">☆</label>
													</div>

													<div class="form-outline">
														<textarea th:field="*{content}" class="form-control"
															id="textAreaExample" rows="4"></textarea>
													</div>
													<div class="d-flex justify-content-end mt-3">
														<button type="submit" class="btn btn-danger">
															Gửi <i
																class="fas fa-long-arrow-alt-right ms-1"></i>
														</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="card-body p-4">
									<h4 class="text-center mb-4 pb-2">Đánh giá</h4>

									<div th:each="feedback : ${feedbacks}" class="row mb-5">
										<div class="col">
											<div class="d-flex flex-start">

												<img th:if="${feedback.user.getImage()!=null && feedback.user.getImage().getTitle!=null }"
													th:src="@{${'/uploads/users/'+ feedback.user.getImage().getTitle().toString()}}"
													class="rounded-circle shadow-1-strong me-3 mr-4" width="65"
													height="65" />
												<img th:if="${feedback.user.getImage()!=null && feedback.user.getImage().getTitle==null }"
													th:src="@{${'/uploads/'+ feedback.user.getImage().getThumbnailName().toString()}}"
													class="rounded-circle shadow-1-strong me-3 mr-4" width="65"
													height="65" />
												<div class="flex-grow-1 flex-shrink-1">
													<div>
														<div class="d-flex justify-content-start align-items-center">
															<p class="">
																[[${feedback.user.username}]] 
																<span th:text="${#dates.format(feedback.createdAt, 'dd-MM-yyyy | HH-mm-ss')}" class="small"> -
																	</span>
															</p>

															<div sec:authorize="isAuthenticated()"
																th:if="${#authentication.getPrincipal().getId() == feedback.user.id || #authentication.getPrincipal().getId() == 1 }"
																class="ml-4">
																<form method="post" th:action="@{/feedback/delete}"
																	th:id="'delete_cmt_' + ${feedback.id}">
																	<a th:onclick="deletecmt([[${feedback.id}]])"
																		href="#!" class="link-muted"><i
																			class="fas fa-trash-alt ms-2"></i></a>
																	<input hidden name="feedbackId"
																		th:value="${feedback.id}" />
																	<input hidden name="bookId"
																		th:value="${feedback.book.id}" />
																</form>
															</div>
														</div>
														<div class="rating d-flex">
															<input disabled type="radio" value="5"
																th:checked="${feedback.rating==5}"
																id="5"><label>☆</label>
															<input disabled type="radio" value="4"
																th:checked="${feedback.rating==4}"
																id="4"><label>☆</label>
															<input disabled type="radio" value="3"
																th:checked="${feedback.rating==3}"
																id="3"><label>☆</label>
															<input disabled type="radio" value="2"
																th:checked="${feedback.rating==2}" id="2"><label
																for="2">☆</label>
															<input disabled type="radio" value="1"
																th:checked="${feedback.rating==1}" id="1"><label
																for="1">☆</label>
														</div>

														<p class="small mb-0">
															[[${feedback.content}]]
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</section>

			<div class="row my-5">
				<div class="col-lg-12">
					<div class="title-all text-center">
						<h1>Sách hot</h1>
						<p>Những cuốn sách hay nhất</p>
					</div>
					<div class="featured-products-box owl-carousel owl-theme">
						<div class="item mr-3 ml-3" th:each="item:${topFeatured}">
							<div class="products-single fix">
								<div class="box-img-hover">
									<div class="type-lb">
										<p class="sale">Còn bán</p>
									</div>
									<img th:if="${item.image.title}" th:src="@{${'/uploads/books/'+item.image.title}}"
										class="img-fluid" />
									<img th:if="${item.image.thumbnailName!=null && item.image.title == null }"
										th:src="@{${'/uploads/'+item.image.thumbnailName}}" class="img-fluid" />
									<div class="mask-icon">
										<ul>
											<li><a th:href="@{/shop-detail(bookId=${item.id})}" data-toggle="tooltip"
													data-placement="right" title="Chi tiết"><i
														class="fas fa-eye"></i></a></li>
										</ul>
										<a class="cart" th:href="@{/member/shop/add(bookId=${item.id})}">Thêm vào giỏ
											hàng</a>
									</div>
								</div>
								<div class="why-text">
									<a th:href="@{/shop-detail(bookId=${item.id})}">
										<h4>[[${item.title}]]</h4>
										<h5>[[${item.price}]] VNĐ</h5>
									</a>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>




	</div>
	<!-- End Cart -->

	<!-- Start Instagram Feed  -->
	<div class="instagram-box">
		<div th:replace="~{client/fragments/sub-footer :: subFooter}"></div>
	</div>
	<!-- End Instagram Feed  -->


	<!-- Start Footer  -->
	<footer>
		<div th:replace="~{client/fragments/footer :: footer}"></div>
	</footer>
	<!-- End Footer  -->

	<script>
		function deletecmt(id) {
			document.getElementById('delete_cmt_' + id).submit();
		}
	</script>
	<style>
		.rating {
			display: flex;
			flex-direction: row-reverse;
			justify-content: start;
		}

		.rating>input {
			display: none;
		}

		.rating>label {
			position: relative;
			font-size: 2vw;
			color: #FFD600;
			cursor: pointer;
		}

		.rating>label::before {
			content: "\2605";
			position: absolute;
			opacity: 0;
		}

		.rating>label:hover:before,
		.rating>label:hover~label:before {
			opacity: 1 !important;
		}

		.rating>input:checked~label:before {
			opacity: 1;
		}

		.rating:hover>input:checked~label:before {
			opacity: 0.4;
		}
	</style>
</body>

</html>