<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
	<div th:replace="~{client/fragments/header :: header}"></div>
	<div>
		<title>Tất cả</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="">
	</div>
</head>

<body>

	<div th:replace="~{client/fragments/main-top :: mainTop}"></div>

	<!-- Start All Title Box -->
	<div class="all-title-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Tất cả</h2>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
						<li class="breadcrumb-item active">Tất cả</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Title Box -->

	<!-- Start Shop Page  -->
	<div class="shop-box-inner">
		<div class="container">
			<form action="#" th:action="@{/shop/{categoryName}?page=1(categoryName=${cur_category})}"
				th:object="${filterForm}" method="post">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
						<div class="product-categori">
							<div class="search-product">
								<form action="#">
									<input class="form-control" placeholder="Tìm kiếm..." type="text" th:field="*{textSearch}">
									<button type="submit"> <i class="fa fa-search"></i> </button>
								</form>
							</div>
							<div class="filter-sidebar-left">
								<div class="title-left">
									<h3>Danh mục</h3>
								</div>
								<div class="list-group list-group-collapse list-group-sm list-group-tree"
									id="list-group-men" data-children=".sub-men">
									<a th:styleappend="${cur_category=='Tatca'? 'font-weight: 600; color:#d33b33;' : ''}"
										th:href="@{/shop/Tatca?page=1}" class="list-group-item list-group-item-action">
										Tất cả <small class="text-muted"> ([[${numAllBooks}]]) </small></a>
									<a th:each="category:${categories}"
										th:styleappend="${cur_category==category.getDomain()? 'font-weight: 600; color:#d33b33;' : ''}"
										th:href="@{/shop/{categoryName}?page=1(categoryName=${category.getDomain()})}"
										class="list-group-item list-group-item-action"> [[${category.name}]] <small
											class="text-muted"> ([[${#lists.size(category.books)}]]) </small></a>
								</div>
							</div>

							<div class="filter-price-left">
								<div class="title-left">
									<h3>Giá</h3>
								</div>
								<div class="price-box-slider" th:field="*{maxPrice}">
									<input style="display: none;" id="maxPrice" th:value="${maxP}" />
									<input style="display: none;" id="min" th:field="*{minPrice}" />
									<input style="display: none;" id="max" th:field="*{maxPrice}" />
									<div id="slider-range"></div>
									<p>
										<input type="text" id="amount" readonly
											style="border:0; color:#d33b33; font-weight:bold;" />
									</p>
								</div>
							</div>
							<div class="filter-brand-left">
								<div class="title-left">
									<h3>Nhà xuất bản</h3>
								</div>
								<div class="brand-box">
									<ul>
										<li>
											<div class="radio radio-danger">
												<input name="survey" id="Radios1" th:field="*{publisherName}"
													value="Tất cả" type="radio"
													th:checked="${publisherName}=='Tất cả' ? 'checked'">
												<label for="Radios1"> Tất cả </label>
											</div>
										</li>
										<li th:each="publisher:${publishers}">
											<div class="radio radio-danger">
												<input name="survey" th:id="${'Radios' + publisherStat.index + 2}"
													th:field="*{publisherName}" th:value="${publisher}" type="radio"
													th:checked="${publisherName == publisher}">
												<label th:for="${'Radios' + publisherStat.index + 2}"> [[${publisher}]]
												</label>
											</div>
										</li>
									</ul>
									<button class="btn hvr-hover" type="submit" style="color: white;">Lọc</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
						<div class="right-product-box">
							<div class="product-item-filter row">
								<div class="col-12 col-sm-8 text-center text-sm-left">
									<div class="toolbar-sorter-right">
										<span>Sắp xếp </span>
										<select th:field="*{sort}" id="basic"
											class="selectpicker show-tick form-control">
											<option th:selected="${sort == value}" data-display="Select" value="none">Mặc định</option>
											<option th:selected="${sort == value}" value="incre">Giá tăng dần</option>
											<option th:selected="${sort == value}" value="decre">Giá giảm dần</option>
										</select>
									</div>
									<p>Tất cả [[${#lists.size(books)}]] sản phẩm</p>
								</div>
								<div class="col-12 col-sm-4 text-center text-sm-right">
									<ul class="nav nav-tabs ml-auto">
										<li>
											<a class="nav-link active" href="#grid-view" data-toggle="tab"> <i
													class="fa fa-th"></i> </a>
										</li>
										<li>
											<a class="nav-link" href="#list-view" data-toggle="tab"> <i
													class="fa fa-list-ul"></i> </a>
										</li>
									</ul>
								</div>
							</div>

							<div class="row product-categorie-box">
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane fade show active" id="grid-view">
										<div class="row">
											<div style="display: none;" th:id="${'short' + bookStat.index}"
												class="col-sm-6 col-md-6 col-lg-4 col-xl-4" th:each="book:${books}">
												<div class="products-single fix">

													<div class="box-img-hover">
														<div class="type-lb">
															<p class="sale">Còn bán</p>
														</div>

														<img th:if="${book.image.title}"
															th:src="@{${'/uploads/books/'+ book.image.title}}"
															class="img-fluid" />
														<img th:if="${book.image.thumbnailName!=null && book.image.title == null }"
															th:src="@{${'/uploads/'+ book.image.thumbnailName}}"
															class="img-fluid" />
														<div class="mask-icon">
															<ul>
																<li><a th:href="@{/shop-detail(bookId=${book.id})}"
																		data-toggle="tooltip" data-placement="right"
																		title="View"><i class="fas fa-eye"></i></a></li>
															</ul>
															<a class="cart"
																th:href="@{/member/cart/add(bookId=${book.id})}">Thêm
																vào giỏ hàng</a>
														</div>
													</div>
													<div class="why-text">
														<a th:href="@{/shop-detail(bookId=${book.id})}">
															<h3 class="collapse-shorttitle"><b>[[${book.title}]]</b>
															</h3>
															<h5><small>[[${book.price}]] VNĐ</small></h5>
														</a>

													</div>
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane fade tab-pane-custom" id="list-view">
										<div style="display: none;" class="list-view-box" th:each="book:${books}"
											th:id="${'long' + bookStat.index}">
											<div class="row">
												<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
													<div class="products-single fix">
														<div class="box-img-hover">
															<div class="type-lb">
																<p class="new">New</p>
															</div>
															<img th:if="${book.image.title}"
																th:src="@{${'/uploads/books/'+ book.image.title}}"
																class="img-fluid" />
															<img th:if="${book.image.thumbnailName!=null && book.image.title == null }"
																th:src="@{${'/uploads/'+ book.image.thumbnailName}}"
																class="img-fluid" />
															<div class="mask-icon">
																<ul>
																	<li><a th:href="@{/shop-detail(bookId=${book.id})}"
																			data-toggle="tooltip" data-placement="right"
																			title="Chi tiết"><i class="fas fa-eye"></i></a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
													<div class="why-text full-width">
														<a th:href="@{/shop-detail(bookId=${book.id})}">
															<h4>[[${book.title}]]</h4>
															<h5>[[${book.price}]] VNĐ</h5>
														</a>

														<p class="collapse-description">[[${book.description}]]</p>
														<a class="btn hvr-hover"
															th:href="@{/member/cart/add(bookId=${book.id})}">Thêm vào
															giỏ hàng</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div th:styleappend="${#lists.size(books) > 0 ? 'display: block' : 'display: none'}"
									class="container pagination-custom">
									<input style="display: none;" id="cur_page" th:value="${cur_page}">
									<input style="display: none;" id="size" th:value="${#lists.size(books)}">
									<ul id="pagination" class="pagination">
										<li id="p-before" class="page-item"><a class="page-link">Trước</a></li>
										<li id="p-after" class="page-item"><a class="page-link">Sau</a></li>
									</ul>
								</div>
								<div th:styleappend="${#lists.size(books) > 0 ? 'display: none' : 'display: block'}"
									class="alert alert-danger">
									<strong>Xin lỗi!</strong> Không tìm thấy sách.
								</div>
							</div>
						</div>
					</div>

				</div>
			</form>
		</div>
	</div>
	<!-- End Shop Page -->

	<!-- Start Instagram Feed  -->
	<div class="instagram-box">
		<div th:replace="~{client/fragments/sub-footer :: subFooter}"></div>
	</div>
	<!-- End Instagram Feed  -->


	<!-- Start Footer  -->
	<footer>
		<div th:replace="~{client/fragments/footer :: footer}"></div>
		<script th:src="@{/js/jquery-ui.js}"></script>
		<script th:src="@{/js/jquery.nicescroll.min.js}"></script>
		<script th:src="@{/js/shop-page.js}"></script>
	</footer>
	<!-- End Footer  -->

</body>

</html>