<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
	<div th:replace="client/fragments/header :: header"></div>
	<div>
		<title>Chi tiết sách</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="">
	</div>

</head>

<body>
	<div th:replace="client/fragments/main-top :: mainTop"></div>


	<!-- Start All Title Box -->
	<div class="all-title-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Chi tiết sách</h2>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Tất cả</a></li>
						<li class="breadcrumb-item active">Chi tiết sách </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Title Box -->

	<!-- Start Shop Detail  -->
	<div class="shop-detail-box-main">
		<div class="container">
			<div th:if="${insufficient}" class="alert alert-warning mt-3 mb-3 row">
				Không thể mua vượt quá số lượng trong kho
			</div>
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-5 d-flex justify-content-end">

					<img th:if="${book.ImageName}" th:src="@{${'/uploads/books/'+book.ImageName}}"
						class="d-block w-75 img-fluid" />
					<img th:if="${book.thumbnailName!=null && book.imageName == null }"
						th:src="@{${'/uploads/'+book.thumbnailName}}" class="d-block w-75 img-fluid" />
				</div>
				<div class="col-xl-8 col-lg-8 col-md-7">
					<div class="single-product-details">
						<h2>[[${book.title}]]</h2>
						<h5>[[${book.price}]] VNĐ</h5>
						<p class="available-stock"><span> Còn [[${book.quantity}]] cuốn / <a href="#">Đã bán [[${sold}]]
									cuốn </a></span>
						<p>
						<h4>Mô tả sách</h4>
						<p style=" word-wrap: break-word; width: 800px;">[[${book.description}]]</p>

						<form class="row" method="post" th:action="@{/member/cart/add}">
							<div class="form-group quantity-box col-3">
								<label class="control-label">Số lượng</label>
								<input name="quantity" id="book-quantity" class="form-control" value="1" min="1"
									th:max="${book.quantity}" type="number">
							</div>
							<input hidden th:value="${book.id}" name="bookId">
							<div class="price-box-bar" style="margin-top:35px">
								<div class="cart-and-bay-btn">
									<button type="submit" style="color:white" class="ml-auto btn hvr-hover"
										data-fancybox-close="">
										Thêm vào giỏ hàng</button>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="container my-3 py-5 text-dark">
				<div class="row d-flex justify-content-center">
					<div sec:authorize="!isAuthenticated()">
						Vui lòng đăng nhập để bình luận
					</div>
					<div sec:authorize="isAuthenticated()" class="col-md-10 col-lg-8 col-xl-6">
						<div class="card">
							<div class="card-body p-4">
								<div class="d-flex w-100">
							
										<img
										th:if="${#authentication.getPrincipal().getImage()!=null && #authentication.getPrincipal().getImage().getTitle!=null }"
										th:src="@{${'/uploads/users/'+ #authentication.getPrincipal().getImage().getTitle().toString()}}"
										class="rounded-circle shadow-1-strong me-3 mr-4"
										width="65" height="65"
		            					/>
		            					<img
										th:if="${#authentication.getPrincipal().getImage()!=null && #authentication.getPrincipal().getImage().getTitle==null }"
										th:src="@{${'/uploads/'+ #authentication.getPrincipal().getImage().getThumbnailName().toString()}}"
										class="rounded-circle shadow-1-strong me-3 mr-4"
										width="65" height="65"
		            					/>
									<div class="w-100">
										<h5>Đánh giá</h5>
										<ul class="rating mb-3 d-flex" data-mdb-toggle="rating">
											<li class="pr-1">
												<i class="far fa-star fa-sm text-danger" title="Bad"></i>
											</li>
											<li class="pr-1">
												<i class="far fa-star fa-sm text-danger" title="Poor"></i>
											</li>
											<li class="pr-1">
												<i class="far fa-star fa-sm text-danger" title="OK"></i>
											</li>
											<li class="pr-1">
												<i class="far fa-star fa-sm text-danger" title="Good"></i>
											</li>
											<li class="pr-1">
												<i class="far fa-star fa-sm text-danger" title="Excellent"></i>
											</li>
										</ul>
										<div class="form-outline">
											<textarea class="form-control" id="textAreaExample" rows="4"></textarea>
											<label class="form-label" for="textAreaExample">What is your view?</label>
										</div>
										<div class="d-flex justify-content-end mt-3">
											<button type="button" class="btn btn-danger">
												Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row my-5">
				<div class="col-lg-12">
					<div class="title-all text-center">
						<h1>Sách hot</h1>
						<p>Những cuốn sách hay nhất</p>
					</div>
					<div class="featured-products-box owl-carousel owl-theme">
						<div class="item mr-3 ml-3" th:each="item:${topFeatured}">
							<div class="products-single fix">
								<div class="box-img-hover">
									<div class="type-lb">
										<p class="sale">Còn bán</p>
									</div>
									<img th:if="${item.image.title}" th:src="@{${'/uploads/books/'+item.image.title}}"
										class="img-fluid" />
									<img th:if="${item.image.thumbnailName!=null && item.image.title == null }"
										th:src="@{${'/uploads/'+item.image.thumbnailName}}" class="img-fluid" />
									<div class="mask-icon">
										<ul>
											<li><a th:href="@{/shop-detail(bookId=${item.id})}" data-toggle="tooltip"
													data-placement="right" title="Chi tiết"><i
														class="fas fa-eye"></i></a></li>
										</ul>
										<a class="cart" th:href="@{/member/shop/add(bookId=${item.id})}">Thêm vào giỏ
											hàng</a>
									</div>
								</div>
								<div class="why-text">
									<h4>[[${item.title}]]</h4>
									<h5>[[${item.price}]] VNĐ</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>




	</div>
	<!-- End Cart -->

	<!-- Start Instagram Feed  -->
	<div class="instagram-box">
		<div th:replace="client/fragments/sub-footer :: subFooter"></div>
	</div>
	<!-- End Instagram Feed  -->


	<!-- Start Footer  -->
	<footer>
		<div th:replace="client/fragments/footer :: footer"></div>
	</footer>
	<!-- End Footer  -->

</body>

</html>