.app {
  display: inline-block;
  
}
.app2 {
  display: inline-block;
  
}
#searchinput {
  
  width: 245.8px;
  height: 38px;
  
}
#searchinput2 {
  
  width: 245.8px;
  height: 38px;
  
}
.tacgia, .ngonngu {
  display: none;
}

#authorList {
  width: 100%;
  height: 80px;
  overflow-x: hidden;
  overflow-y: auto;
}