<div th:fragment="sidebar">
	<!-- Sidebar -->
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion h-100" id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/index.html}">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-laugh-wink"></i>
			</div>
			<div class="sidebar-brand-text mx-3">Metis Admin</div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider my-0">

		<!-- Nav Item - Dashboard -->
		<li class="nav-item">
			<a class="nav-link" th:href="@{/admin}">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>Thống kê</span></a>
		</li>

		<div class="sidebar-heading">
			Menu
		</div>
		<li sec:authorize="hasRole('ADMIN')" class="nav-item"
			th:classappend="${#httpServletRequest.requestURI.contains('/admin/user') ? 'active' : ''}">
			<a class="nav-link" th:href="@{/admin/user}">
				<i class="fas fa-fw fa-table"></i>
				<span>Tài khoản</span></a>
		</li>
		<li class="nav-item" th:classappend="${#httpServletRequest.requestURI.contains('/admin/book') ? 'active' : ''}">
			<a class="nav-link collapsed" th:href="@{/#}" data-toggle="collapse" data-target="#collapseBook"
				aria-expanded="true" aria-controls="collapseTwo">
				<i class="fas fa-fw fa-book"></i>
				<span>Sách</span>
			</a>
			<div id="collapseBook" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" th:href="@{/admin/book/}">Danh sách cuốn sách</a>
					<a class="collapse-item" th:href="@{/admin/book/category}">Thể loại</a>
					<a class="collapse-item" th:href="@{/admin/book/author}">Tác giả</a>
					<a class="collapse-item" th:href="@{/admin/book/language}">Ngôn ngữ</a>
				</div>
			</div>
		</li>
		<li class="nav-item" th:classappend="${#httpServletRequest.requestURI.contains('/admin/blog') ? 'active' : ''}">
			<a class="nav-link" th:href="@{/admin/blog}">
				<i class="fas fa-fw fa-table"></i>
				<span>Bài viết</span></a>
		</li>
		<li class="nav-item"
			th:classappend="${#httpServletRequest.requestURI.contains('/admin/contact') ? 'active' : ''}">
			<a class="nav-link" th:href="@{/admin/contact}">
				<i class="fas fa-fw fa-table"></i>
				<span>Liên hệ</span></a>
		</li>
		<li class="nav-item"
			th:classappend="${#httpServletRequest.requestURI.contains('/admin/bookrequest') ? 'active' : ''}">
			<a class="nav-link" th:href="@{/admin/bookrequest}">
				<i class="fas fa-fw fa-table"></i>
				<span>Yêu cầu sách</span></a>
		</li>
		<li class="nav-item"
			th:classappend="${#httpServletRequest.requestURI.contains('/admin/order') ? 'active' : ''}">
			<a class="nav-link" th:href="@{/admin/order}">
				<i class="fas fa-fw fa-table"></i>
				<span>Đơn hàng</span></a>
		</li>

		<!-- Divider -->
		<hr class="sidebar-divider d-none d-md-block">

		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>

	</ul>
	<!-- End of Sidebar -->
</div>